#pragma code_page(65001)

LANGUAGE LANG_ARABIC, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "Microsoft Sans Serif"
    IDS_ACDSC_PWD "‏‏تسجيل دخول المستخدم"
    IDS_BADPWD "‏‏الرجاء كتابة كلمة المرور مرة أخرى. \r\nيجب كتابة الأحرف باستخدام حالة الأحرف الصحيحة."
    IDS_BADPWDHINT "‏‏يمكنك النقر فوق الزر ""؟"" لعرض تلميح كلمة المرور.\r\n\r\nالرجاء كتابة كلمة المرور مرة أخرى.  \r\nتأكد من كتابة الأحرف بحالة الأحرف الصحيحة."
    IDS_BADPWDHINTREST "‏‏يمكنك النقر فوق الزر ""؟"" لعرض تلميح كلمة المرور.\r\nأو يمكنك <A>استخدام قرص إعادة تعيين كلمة مرور المرور</A>.\r\n\r\nالرجاء كتابة كلمة المرور مرة أخرى.  \r\nتأكد من كتابة الأحرف بحالة الأحرف الصحيحة."
    IDS_BADPWDREST "‏‏يمكنك <A>استخدام قرص إعادة تعيين كلمة مرور المرور.</A>.\r\n\r\nالرجاء كتابة كلمة المرور مرة أخرى.  \r\nتأكد من كتابة الأحرف بحالة الأحرف الصحيحة."
    IDS_BADPWDTITLE "‏‏هل نسيت كلمة المرور؟"
    IDS_BEGIN "انقر فوق اسم المستخدم للبدء"
    IDS_CANCEL "إلغاء الأمر"
    IDS_CHANGEPASSWORD "ت&غيير كلمة المرور..."
    IDS_EMERGENCYSHUTDOWN "‏‏إذا قمت بالمتابعة فسوف يقوم الجهاز بإعادة التمهيد وستفقد أية بيانات لم يتم حفظها. استخدم هذا الإجراء فقط كحل أخير."
    IDS_EMERGENCYSHUTDOWNCAPTION "إيقاف تشغيل طارئ"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "تأ&مين الكمبيوتر"
    IDS_LOGGEDON "‏‏تم تسجيل الدخول حالياً"
    IDS_LOGGINGON "يتم الآن تسجيل الدخول..."
    IDS_LOGOFF "&تسجيل الخروج..."
    IDS_MANAGEACCOUNTS "‏‏بعد تسجيل الدخول، يمكنك إضافة حسابات أو تغييرها.\r\nفقط انتقل إلى ""لوحة التحكم"" وانقر فوق ""حسابات المستخدمين""."
    IDS_OPTIONSFONT "Microsoft Sans Serif"
    IDS_PASSWORDHINTTITLE "تلميح كلمة المرور:"
    IDS_PLEASEWAIT "‏‏الرجاء الانتظار..."
    IDS_POWER "إيقاف تشغيل الكمبيوتر"
    IDS_POWERNAME "إيقاف تشغيل %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "‏‏%d برنامج يتم تشغيله."
    IDS_RUNNINGPROGRAMS "‏‏%d برامج يتم تشغيلها."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&تبديل المستخدم"
    IDS_TASKMANAGER "إ&دارة المهام"
    IDS_TOOMANYPROGRAMS "‏‏إن تشغيل العديد من البرامج يمكن أن يبطأ من عمل الكمبيوتر. \r\nإذا كان الكمبيوتر يعمل بشكل أبطأ من المعتاد، حاول إغلاق بعض البرامج."
    IDS_TOOMANYUSERS "‏‏إن تشغيل العديد من البرامج قد يبطأ من عمل الكمبيوتر. \r\nإذا كان الكمبيوتر يعمل بشكل أبطأ من المعتاد، حاول تسجيل خروج بعض المستخدمين."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "اكتب كلمة المرور"
    IDS_UNDOCK "إلغاء إرساء الكمبيوتر"
    IDS_UNDOCKNAME "إلغاء إرساء %s"
    IDS_UNLOCK "اضغط Ctrl-Alt-Delete للبدء."
    IDS_UNREADMAIL "‏‏%d رسالة بريد غير مقروءة."
    IDS_UNREADMAILACCOUNT "%s ‏(%d)"
    IDS_UNREADMAILS "‏‏%d رسالة بريد غير مقروءة."
    IDS_UNREADMAILTEMP "‏‏لقراءة الرسائل، يمكنك تسجيل الدخول واختيار ""البريد الإلكتروني"" من قائمة ""ابدأ""."
    IDS_USER "User"
    IDS_USERISLOGGEDON "‏‏تم تسجيل دخول %s"
    IDS_USERLOGGEDON "تم تسجيل الدخول"
    IDS_USERRUNNINGPROGRAM "‏‏%s لديه %d برنامج يتم تشغيله"
    IDS_USERRUNNINGPROGRAMS "%s لديه %d برامج يتم تشغيلها"
    IDS_USERUNREADEMAIL "‏‏%s لديه %d رسالة بريد الكتروني"
    IDS_USERUNREADEMAILS "‏‏%s لديه %d رسالة بريد الكتروني"
    IDS_WELCOME " مرحباً"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "أمان Windows"
END
