#pragma code_page(65001)

LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "Tahoma"
    IDS_ACDSC_PWD "Регистриране на потребител"
    IDS_BADPWD "Въведете паролата си отново.  \r\nИзползвайте точните главни и малки букви."
    IDS_BADPWDHINT "Може да щракнете върху бутона ""?"", за да видите загатване за паролата си.\r\n\r\nВъведете паролата си отново.  \r\nИзползвайте точните главни и малки букви."
    IDS_BADPWDHINTREST "Може да щракнете върху бутона ""?"", за да видите подсещане за паролата си.\r\nИли може да <A>използвате диска за възстановяване на паролата</A>.\r\n\r\nВъведете паролата си отново.  \r\nИзползвайте точните главни и малки букви."
    IDS_BADPWDREST "Може да <A>използвате диска за възстановяване на паролата</A>.\r\n\r\nВъведете паролата си отново.  \r\nИзползвайте точните главни и малки букви."
    IDS_BADPWDTITLE "Забравили ли сте паролата си?"
    IDS_BEGIN "За да започнете, щракнете върху потребителското си име"
    IDS_CANCEL "Отказ"
    IDS_CHANGEPASSWORD "&Смяна на парола..."
    IDS_EMERGENCYSHUTDOWN "Ако продължите, вашата машина ще се рестартира и всички незаписани данни ще бъдат загубени.  Използвайте това само в краен случай."
    IDS_EMERGENCYSHUTDOWNCAPTION "Аварийно изключване"
    IDS_HELPFONT "Arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Заключ&и компютъра"
    IDS_LOGGEDON "Текущо влязъл"
    IDS_LOGGINGON "Влизане..."
    IDS_LOGOFF "И&злизане..."
    IDS_MANAGEACCOUNTS "След като влезете, може да добавите или промените акаунти.\r\nПросто отидете в контролния панел и щракнете върху ""Потребителски акаунти""."
    IDS_OPTIONSFONT "Tahoma"
    IDS_PASSWORDHINTTITLE "Подсещане за паролата:"
    IDS_PLEASEWAIT "моля, изчакайте..."
    IDS_POWER "Изключване на компютъра"
    IDS_POWERNAME "Изключване на %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d програма работи."
    IDS_RUNNINGPROGRAMS "%d програми работят."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "Смяна на потр&ебител"
    IDS_TASKMANAGER "&Диспечер на задачите"
    IDS_TOOMANYPROGRAMS "Изпълнението на твърде много програми може да забави компютъра.  \r\nАко компютърът ви работи по-бавно от нормалното, опитайте да затворите някои програми."
    IDS_TOOMANYUSERS "Изпълнението на твърде много програми може да забави компютъра.  \r\nАко компютърът ви работи по-бавно от нормалното, опитайте да изключите някои потребители."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Въведете паролата си"
    IDS_UNDOCK "Откачване на компютъра"
    IDS_UNDOCKNAME "Откачване на %s"
    IDS_UNLOCK "Натиснете Ctrl-Alt-Delete, за да започнете."
    IDS_UNREADMAIL "%d непрочетено пощенско съобщение."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d непрочетени пощенски съобщения."
    IDS_UNREADMAILTEMP "За да прочетете съобщенията си, трябва да влезете и да изберете ""Електронна поща"" от менюто ""Старт""."
    IDS_USERISLOGGEDON "%s е влязъл"
    IDS_USERLOGGEDON "Влизане"
    IDS_USERRUNNINGPROGRAM "%s има %d изпълнявана програма"
    IDS_USERRUNNINGPROGRAMS "%s има %d изпълнявани програми"
    IDS_USERUNREADEMAIL "%s има %d e-mail съобщение"
    IDS_USERUNREADEMAILS "%s има %d e-mail съобщения"
    IDS_WELCOME "добре дошли"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Защита на Windows"
END
