#pragma code_page(65001)

LANGUAGE LANG_PORTUGUESE, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Fazer logon do usuário"
    IDS_BADPWD "Digite a senha novamente. \r\nCertifique-se de usar maiúsculas e minúsculas corretamente."
    IDS_BADPWDHINT "Clique no botão ""?"" para ver a dica da senha.\r\n\r\nDigite a senha novamente. \r\nCertifique-se de usar maiúsculas e minúsculas corretamente."
    IDS_BADPWDHINTREST "Clique no botão ""?"" para ver a dica da senha \r\nou <A>use o disco de redefinição de senha</A>.\r\n\r\nDigite a senha novamente.\r\nCertifique-se de usar maiúsculas e minúsculas corretamente."
    IDS_BADPWDREST "Você pode <A>usar o disco de redefinição de senha</A>.\r\n\r\nDigite a senha novamente. \r\nCertifique-se de usar maiúsculas e minúsculas corretamente."
    IDS_BADPWDTITLE "Você se esqueceu de sua senha?"
    IDS_BEGIN "Para começar, clique no seu\nnome de usuário"
    IDS_CANCEL "Cancelar"
    IDS_CHANGEPASSWORD "&Alterar senha..."
    IDS_EMERGENCYSHUTDOWN "Se você continuar, a máquina será reiniciada e os dados não salvos serão perdidos. Use esta opção somente como último recurso."
    IDS_EMERGENCYSHUTDOWNCAPTION "Desligamento de emergência"
    IDS_HELPFONT "Arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Bloquear computador"
    IDS_LOGGEDON "Atualmente conectado"
    IDS_LOGGINGON "Fazendo logon..."
    IDS_LOGOFF "Fazer &logoff..."
    IDS_MANAGEACCOUNTS "Após o logon, você pode adicionar ou alterar\r\ncontas. Vá para o 'Painel de controle' e clique em 'Contas de usuário'."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Dica sobre a senha:"
    IDS_PLEASEWAIT "Aguarde..."
    IDS_POWER "Desligar o computador"
    IDS_POWERNAME "Desligar %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d programa em execução."
    IDS_RUNNINGPROGRAMS "%d programas em execução."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Trocar usuário"
    IDS_TASKMANAGER "&Gerenciador de tarefas"
    IDS_TOOMANYPROGRAMS "Se houver muitos programas em execução, isso pode tornar o computador mais lento. \r\nSe o computador estiver funcionando mais lentamente do que o normal, experimente fechar alguns programas."
    IDS_TOOMANYUSERS "Se houver muitos programas em execução, isso pode tornar o computador mais lento. \r\nSe o computador estiver funcionando mais lentamente do que o normal, experimente fazer o logoff de alguns usuários."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Digite sua senha"
    IDS_UNDOCK "Desencaixar"
    IDS_UNDOCKNAME "Desencaixar %s"
    IDS_UNLOCK "Pressione Ctrl-Alt-Delete para começar."
    IDS_UNREADMAIL "%d email não lido."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d emails não lidos."
    IDS_UNREADMAILTEMP "Para ler mensagens, faça logon e escolha 'E-mail' no menu 'Iniciar'."
    IDS_USER "Usuário"
    IDS_USERISLOGGEDON "%s fez logon"
    IDS_USERLOGGEDON "Sessão iniciada"
    IDS_USERRUNNINGPROGRAM "%s tem %d programa em execução"
    IDS_USERRUNNINGPROGRAMS "%s tem %d programas em execução"
    IDS_USERUNREADEMAIL "%s tem %d email"
    IDS_USERUNREADEMAILS "%s tem %d emails"
    IDS_WELCOME "Bem-vindo"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Segurança do Windows"
END
