#pragma code_page(65001)

LANGUAGE LANG_CHINESE, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "新細明體"
    IDS_ACDSC_PWD "登入使用者"
    IDS_BADPWD "請再次鍵入您的密碼\r\n請確定使用正確的大小寫字母。"
    IDS_BADPWDHINT "您可以按 [?] 按鈕來看您的提示。\r\n\r\n請再次鍵入您的密碼\r\n請確定使用正確的大小寫字母。"
    IDS_BADPWDHINTREST "您可以按 [?] 按鈕來看您的提示。\r\n或者您可以<A>使用您的密碼重設磁片</A>。\r\n\r\n請再次鍵入您的密碼\r\n請確定使用正確的大小寫字母。"
    IDS_BADPWDREST "您可以<A>使用您的密碼重設磁片</A>。\r\n\r\n請再次鍵入您的密碼\r\n請確定使用正確的大小寫字母。"
    IDS_BADPWDTITLE "忘記您的密碼了嗎?"
    IDS_BEGIN "若要開始，請按您的使用者名稱"
    IDS_CANCEL "取消"
    IDS_CHANGEPASSWORD "變更密碼(&C)..."
    IDS_HELPFONT "新細明體"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "鎖住電腦(&K)"
    IDS_LOGGEDON "目前已登入"
    IDS_LOGGINGON "正在登入..."
    IDS_LOGOFF "登出(&L)..."
    IDS_MANAGEACCOUNTS "在您登入之後，您可以新增或變更帳戶。\r\n只要到控制台然後按 [使用者帳戶]。"
    IDS_OPTIONSFONT "新細明體"
    IDS_PASSWORDHINTTITLE "密碼提示:"
    IDS_PLEASEWAIT "請稍候..."
    IDS_POWER "電腦關機"
    IDS_POWERNAME "關閉 %s"
    IDS_PWINSTRUCTFONTSIZE "9"
    IDS_RUNNINGPROGRAM "%d 個程式執行中。"
    IDS_RUNNINGPROGRAMS "%d 個程式執行中。"
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "9"
    IDS_SWITCHUSER "切換使用者(&S)"
    IDS_TASKMANAGER "工作管理員(&T)"
    IDS_TOOMANYPROGRAMS "執行太多程式會減慢您的電腦。\r\n如果您的電腦執行低於正常速度，嘗試關閉一些程式。"
    IDS_TOOMANYUSERS "執行太多程式會減慢您的電腦。\r\n如果您的電腦執行低於正常速度，嘗試登出一些使用者。"
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "輸入您的密碼"
    IDS_UNDOCK "卸除電腦"
    IDS_UNDOCKNAME "卸除 %s"
    IDS_UNLOCK "請按 Ctrl-Alt-Del 開始。"
    IDS_UNREADMAIL "%d 個未讀過的郵件訊息。"
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d 個未讀過的郵件訊息。"
    IDS_UNREADMAILTEMP "若要讀取您的訊息，請登入並從 [開始] 功能表選取電子郵件。"
    IDS_USER "User"
    IDS_USERISLOGGEDON "%s 已登入"
    IDS_USERLOGGEDON "登入"
    IDS_USERRUNNINGPROGRAM "%s 有 %d 個程式執行中"
    IDS_USERRUNNINGPROGRAMS "%s 有 %d 個程式執行中"
    IDS_USERUNREADEMAIL "%s 有 %d 個電子郵件訊息"
    IDS_USERUNREADEMAILS "%s 有 %d 個電子郵件訊息"
    IDS_WELCOME "歡迎使用"
    IDS_WELCOMEFONT "新細明體"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows 安全性"
END
