#pragma code_page(65001)

LANGUAGE LANG_CHINESE, 0x2

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "宋体"
    IDS_ACDSC_PWD "用户登录"
    IDS_BADPWD "请重新键入密码。\r\n大小写必须正确。"
    IDS_BADPWDHINT "您可以单击 ""?"" 按钮，查看密码暗示。\r\n\r\n请重新键入密码。\r\n大小写必须正确。"
    IDS_BADPWDHINTREST "您可以单击 ""?"" 按钮，查看密码暗示。\r\n或者，您可以<A>使用密码重设磁盘</A>。\r\n\r\n请重新键入密码。\r\n大小写必须正确。"
    IDS_BADPWDREST "您可以<A>使用密码重设磁盘</A>。\r\n\r\n请重新键入密码。\r\n大小写必须正确。"
    IDS_BADPWDTITLE "没有记住密码?"
    IDS_BEGIN "要开始，请单击您的用户名"
    IDS_CANCEL "取消"
    IDS_CHANGEPASSWORD "更改密码(&C)..."
    IDS_EMERGENCYSHUTDOWN "如果继续，您的机器会重新启动，未保存的数据将丢失。如非绝对必要，请勿采取此步骤。"
    IDS_EMERGENCYSHUTDOWNCAPTION "紧急关机"
    IDS_HELPFONT "宋体"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "锁定计算机(&K)"
    IDS_LOGGEDON "当前登录的"
    IDS_LOGGINGON "正在登录..."
    IDS_LOGOFF "注销(&L)..."
    IDS_MANAGEACCOUNTS "登录后，您可以添加或更改帐户。请转到“控制面板”，并单击“用户帐户”。"
    IDS_OPTIONSFONT "宋体"
    IDS_PASSWORDHINTTITLE "密码暗示:"
    IDS_PLEASEWAIT "请稍候..."
    IDS_POWER "关闭计算机"
    IDS_POWERNAME "关闭 %s "
    IDS_PWINSTRUCTFONTSIZE "9"
    IDS_RUNNINGPROGRAM "%d 程序正在运行。"
    IDS_RUNNINGPROGRAMS "%d 程序正在运行。"
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "9"
    IDS_SWITCHUSER "切换用户(&S)"
    IDS_TASKMANAGER "任务管理器(&T)"
    IDS_TOOMANYPROGRAMS "运行的程序太多会减缓计算机的速度。\r\n如果您的计算机比平时运行缓慢，请关闭一些程序。"
    IDS_TOOMANYUSERS "运行的程序太多会减缓计算机的速度。\r\n如果您的计算机比平时运行缓慢，请注销一些用户。"
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "输入密码"
    IDS_UNDOCK "脱开计算机"
    IDS_UNDOCKNAME "脱开 %s"
    IDS_UNLOCK "请按 Ctrl-Alt-Delete 开始。"
    IDS_UNREADMAIL "%d 未读的邮件消息。"
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d 未读的邮件消息。"
    IDS_UNREADMAILTEMP "要阅读邮件，请登录并从「开始」菜单选择“电子邮件”。"
    IDS_USER "用户"
    IDS_USERISLOGGEDON "%s 已经登录"
    IDS_USERLOGGEDON "已登录"
    IDS_USERRUNNINGPROGRAM "%s 有 %d 程序正在运行"
    IDS_USERRUNNINGPROGRAMS "%s 有 %d 程序正在运行"
    IDS_USERUNREADEMAIL "%s 有 %d 电子邮件消息"
    IDS_USERUNREADEMAILS "%s 有 %d 电子邮件消息"
    IDS_WELCOME "欢迎使用"
    IDS_WELCOMEFONT "宋体"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows 安全"
END
