//Microsoft Developer Studio generated resource script.
//
#include <windows.h>
#include "resource.h"

#undef APSTUDIO_READONLY_SYMBOLS

// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32


/////////////////////////////////////////////////////////////////////////////
//
// UIFILE
//

IDR_LOGONUI               UIFILE  DISCARDABLE     "resources/logon.uipp"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_GO                    BITMAP  DISCARDABLE     "resources/go.bmp"
IDB_GOKF                  BITMAP  DISCARDABLE     "resources/gokf.bmp"
IDB_INFO                  BITMAP  DISCARDABLE     "resources/info.bmp"
IDB_INFOKF                BITMAP  DISCARDABLE     "resources/infokf.bmp"
IDB_POWER                 BITMAP  DISCARDABLE     "resources/power.bmp"
IDB_POWERKF               BITMAP  DISCARDABLE     "resources/powerkf.bmp"
IDB_SBLINEDOWNV           BITMAP  DISCARDABLE     "resources/sblinedownv.bmp"
IDB_SBLINEUPV             BITMAP  DISCARDABLE     "resources/sblineupv.bmp"
IDB_SBTHUMBV              BITMAP  DISCARDABLE     "resources/sbthumbv.bmp"
IDB_SELECTION             BITMAP  DISCARDABLE     "resources/selection.bmp"
IDB_VDIVIDER              BITMAP  DISCARDABLE     "resources/vdivider.bmp"
IDB_HDIVIDERTOP           BITMAP  DISCARDABLE     "resources/hgradienttop.bmp"
IDB_HDIVIDERBOT           BITMAP  DISCARDABLE     "resources/hgradientbottom.bmp"
IDB_BACKGROUND            BITMAP  DISCARDABLE     "resources/clouds.bmp"
IDB_EDITFRAME             BITMAP  DISCARDABLE     "resources/editframe.bmp"
IDB_UNDOCK                BITMAP  DISCARDABLE     "resources/undock.bmp"
IDB_UNDOCKKF              BITMAP  DISCARDABLE     "resources/undockkf.bmp"
IDB_USERFRAME             BITMAP  DISCARDABLE     "resources/userframe.bmp"
IDB_USERFRAMESEL          BITMAP  DISCARDABLE     "resources/userframesel.bmp"
IDB_USER0                 BITMAP  DISCARDABLE     "resources/chess.bmp"
IDB_PRODUCTNAME           BITMAP  DISCARDABLE     "resources/productname.bmp"
IDB_FLAGSTRIP             BITMAP  DISCARDABLE     "resources/flagstrip.bmp"
IDB_OPT                   BITMAP  DISCARDABLE     "resources/opt.bmp"
IDB_OPTKF                 BITMAP  DISCARDABLE     "resources/optkf.bmp"
IDB_CLOSE                 BITMAP  DISCARDABLE     "resources/close.bmp"
IDB_CLOSEKF               BITMAP  DISCARDABLE     "resources/closekf.bmp"
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
IDI_KEYBOARD ICON "resources/keyboard.ico"
/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN

	IDS_USER             "User"
	IDS_WINSECURITY      "Windows Security"

    IDS_WELCOMEFONT       "arial"
    IDS_OPTIONSFONT       "tahoma"
    IDS_ACCOUNTLISTFONT   "tahoma"
    IDS_HELPFONT          "arial"
    IDS_TURNOFFFONTSIZE   "14pt"
    IDS_INSTRUCTFONTSIZE  "9pt"
    IDS_WELCOMEFONTSIZE   "36pt"
    IDS_HELPFONTSIZE      "14pt"
    IDS_STATUSFONTSIZE    "8pt"
    IDS_PWINSTRUCTFONTSIZE "8pt"


    IDS_MANAGEACCOUNTS    "After you log on, you can add or change accounts.\r\nJust go to Control Panel and click User Accounts."
    IDS_WELCOME           "welcome"
    IDS_BEGIN             "To begin, click your user name"
    IDS_TYPEPASSWORD      "Type your password"
    IDS_LOGGINGON         "Logging on..."
    IDS_LOGGEDON          "Currently logged on"
    IDS_POWER             "Turn off computer"
    IDS_POWERNAME         "Turn off %s"
    IDS_UNDOCK            "Undock computer"
    IDS_UNDOCKNAME        "Undock %s"
    IDS_PLEASEWAIT        "please wait..."
    IDS_PASSWORDHINTTITLE "Password Hint:"
    IDS_BADPWDTITLE       "Did you forget your password?"
    IDS_BADPWD            "Please type your password again.  \r\nBe sure to use the correct uppercase and lowercase letters."
    IDS_BADPWDREST        "You can <A>use your password reset disk</A>.\r\n\r\nPlease type your password again.  \r\nBe sure to use the correct uppercase and lowercase letters."
    IDS_BADPWDHINT        "You can click the ""?"" button to see your password hint.\r\n\r\nPlease type your password again.  \r\nBe sure to use the correct uppercase and lowercase letters."
    IDS_BADPWDHINTREST    "You can click the ""?"" button to see your password hint.\r\nOr you can <A>use your password reset disk</A>.\r\n\r\nPlease type your password again.  \r\nBe sure to use the correct uppercase and lowercase letters."
    IDS_UNREADMAIL           "%d unread mail message."
    IDS_UNREADMAILS          "%d unread mail messages."
    IDS_RUNNINGPROGRAM       "%d program running."
    IDS_RUNNINGPROGRAMS      "%d programs running."
    IDS_USERRUNNINGPROGRAM   "%s has %d program running"
    IDS_USERRUNNINGPROGRAMS  "%s has %d programs running"
    IDS_USERISLOGGEDON       "%s is logged on"
    IDS_USERLOGGEDON         "Logged on"
    IDS_TOOMANYPROGRAMS      "Running too many programs can slow down your computer. \r\nIf your computer is running more slowly than normal, try closing some programs."
    IDS_TOOMANYUSERS         "Running too many programs may slow down your computer. \r\nIf your computer is running more slowly than normal, try logging some users off."
    IDS_USERUNREADEMAIL      "%s has %d e-mail message"
    IDS_USERUNREADEMAILS     "%s has %d e-mail messages"
    IDS_UNREADMAILTEMP       "To read your messages, log on and choose E-mail from the Start menu."
    IDS_UNREADMAILACCOUNT    "%s (%d)"
    IDS_WINDOWSNAME          ""
    IDS_UNLOCK          "Press Ctrl+Alt+Delete to begin."

    // Accessibility strings for narrator
    IDS_ACDSC_PWD           "Log user on"
    IDS_SECURITYOPTIONS     "Security Options"

END


#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////


