#pragma code_page(65001)

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Přihlásit uživatele"
    IDS_BADPWD "Zadejte heslo znovu.   \r\nJe třeba přesně zadat velká a malá písmena."
    IDS_BADPWDHINT "Klepnutím na tlačítko ? zobrazíte nápovědu pro heslo. \r\n \r\nZadejte heslo znovu.   \r\nJe třeba přesně zadat velká a malá písmena."
    IDS_BADPWDHINTREST "Klepnutím na tlačítko ? zobrazíte nápovědu pro heslo. \r\nNebo můžete <A>použít disketu pro vytvoření nového hesla </A>. \r\n \r\nZadejte heslo znovu.   \r\nJe třeba přesně zadat velká a malá písmena."
    IDS_BADPWDREST "Můžete <A>použít disketu pro vytvoření nového hesla</A>. \r\n \r\nZadejte heslo znovu.   \r\nJe třeba přesně zadat velká a malá písmena."
    IDS_BADPWDTITLE "Zapomněli jste heslo?"
    IDS_BEGIN "Začněte klepnutím na uživatelské jméno."
    IDS_CANCEL "Storno"
    IDS_CHANGEPASSWORD "Z&měnit heslo..."
    IDS_HELPFONT "Arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "U&zamknout počítač"
    IDS_LOGGEDON "Nyní přihlášen"
    IDS_LOGGINGON "Přihlašování..."
    IDS_LOGOFF "&Odhlásit se..."
    IDS_MANAGEACCOUNTS "Po přihlášení můžete přidávat nebo měnit účty. \r\nStačí klepnout na ovládací panel Uživatelské účty."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Nápověda pro heslo:"
    IDS_PLEASEWAIT "Počkejte prosím..."
    IDS_POWER "Vypnout počítač"
    IDS_POWERNAME "Vypnout %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "Počet spuštěných programů: %d"
    IDS_RUNNINGPROGRAMS "Počet spuštěných programů: %d"
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "Přepnout &uživatele"
    IDS_TASKMANAGER "&Správce úloh"
    IDS_TOOMANYPROGRAMS "Spuštění příliš mnoha programů může zpomalit počítač.  \r\nPokud počítač běží pomaleji, než je obvyklé, zkuste některé programy ukončit."
    IDS_TOOMANYUSERS "Spuštění příliš mnoha programů pravděpodobně zpomalí počítač.  \r\nPokud počítač běží pomaleji, než je obvyklé, zkuste odhlásit některé uživatele."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Zadejte heslo"
    IDS_UNDOCK "Vyjmout z dokovací stanice"
    IDS_UNDOCKNAME "Vyjmout z doku %s"
    IDS_UNLOCK "Začněte stisknutím kláves Ctrl+Alt+Delete."
    IDS_UNREADMAIL "Počet nepřečtených e-mailů: %d"
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "Počet nepřečtených e-mailů: %d"
    IDS_UNREADMAILTEMP "Chcete-li si přečíst zprávy, přihlaste se a z nabídky Start vyberte příkaz E-mail."
    IDS_USER "Uživatel"
    IDS_USERISLOGGEDON "Uživatel %s je přihlášen"
    IDS_USERLOGGEDON "Přihlášen"
    IDS_USERRUNNINGPROGRAM "Počet spuštěných programů uživatele %s: %d"
    IDS_USERRUNNINGPROGRAMS "Počet spuštěných programů uživatele %s: %d"
    IDS_USERUNREADEMAIL "%s obsahuje %d e-mailovou zprávu"
    IDS_USERUNREADEMAILS "%s obsahuje %d e-mailových zpráv"
    IDS_WELCOME "Vítejte"
    IDS_WELCOMEFONT "Arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Zabezpečení systému Windows"
END
