#pragma code_page(65001)

LANGUAGE LANG_DANISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Log bruger på"
    IDS_BADPWD "Skriv adgangskoden igen.\r\nSørg for at skelne mellem store og små bogstaver."
    IDS_BADPWDHINT "Du kan klikke på knappen ""?"" for at se dit adgangskodetip.\r\n\r\nSkriv adgangskoden igen.  \r\nSørg for at skelne mellem store og små bogstaver."
    IDS_BADPWDHINTREST "Du kan klikke på knappen ""?"" for at se dit adgangskodetip.\r\nEller du kan <A>bruge din diskette til nulstilling af adgangskoden</A>.\r\n\r\nSkriv adgangskoden igen.  \r\nSørg for at skelne mellem store og små bogstaver."
    IDS_BADPWDREST "Du kan <A>bruge din diskette til nulstilling af adgangskoden</A>.\r\n\r\nSkriv adgangskoden igen.  \r\nSørg for at skelne mellem store og små bogstaver."
    IDS_BADPWDTITLE "Har du glemt din adgangskode?"
    IDS_BEGIN "Klik på dit brugernavn for at starte"
    IDS_CANCEL "Annuller"
    IDS_CHANGEPASSWORD "&Skift adgangskode..."
    IDS_EMERGENCYSHUTDOWN "Hvis du fortsætter, vil computeren genstarte, og alle data, der ikke er gemt, vil gå tabt. Brug kun dette som en sidste udvej."
    IDS_EMERGENCYSHUTDOWNCAPTION "Nødlukning"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "L&ås computeren"
    IDS_LOGGEDON "Er logget på i øjeblikket"
    IDS_LOGGINGON "Logger på..."
    IDS_LOGOFF "Log &af..."
    IDS_MANAGEACCOUNTS "Når du har logget på, kan du tilføje og ændre konti.\r\nDu skal blot klikke på Brugerkonti i Kontrolpanel."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Adgangskodetip:"
    IDS_PLEASEWAIT "vent et øjeblik..."
    IDS_POWER "Luk computeren"
    IDS_POWERNAME "Luk %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d program kører."
    IDS_RUNNINGPROGRAMS "%d programmer kører."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Skift bruger"
    IDS_TASKMANAGER "&Jobliste"
    IDS_TOOMANYPROGRAMS "Hvis du kører for mange programmer, kan det nedsætte computerens hastighed.\r\nHvis computeren kører langsommere end normalt, kan du prøve at lukke nogle programmer."
    IDS_TOOMANYUSERS "Hvis du kører for mange programmer, kan det nedsætte computerens hastighed.\r\nHvis computeren kører langsommere end normalt, kan du prøve at logge nogle brugere af."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Skriv adgangskoden"
    IDS_UNDOCK "Fradock computer"
    IDS_UNDOCKNAME "Fradock %s"
    IDS_UNLOCK "Tryk på Ctrl + Alt + Delete for at starte."
    IDS_UNREADMAIL "%d ulæst postmeddelelse."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d ulæste postmeddelelser."
    IDS_UNREADMAILTEMP "Log på og vælg E-mail fra menuen Start for at læse dine postmeddelelser."
    IDS_USER "Bruger"
    IDS_USERISLOGGEDON "%s er logger på"
    IDS_USERLOGGEDON "Logget på"
    IDS_USERRUNNINGPROGRAM "%s har %d program kørende"
    IDS_USERRUNNINGPROGRAMS "%s har %d programmer kørende"
    IDS_USERUNREADEMAIL "%s har %d postmeddelelse"
    IDS_USERUNREADEMAILS "%s har %d postmeddelelser"
    IDS_WELCOME "velkommen"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows Sikkerhed"
END
