#pragma code_page(65001)

LANGUAGE LANG_GREEK, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "Tahoma"
    IDS_ACDSC_PWD "Σύνδεση χρήστη"
    IDS_BADPWD "Πληκτρολογήστε πάλι τον κωδικό πρόσβασής σας.  \r\nΒεβαιωθείτε ότι χρησιμοποιείτε τα σωστά κεφαλεία και πεζά γράμματα."
    IDS_BADPWDHINT "Μπορείτε να κάνετε κλικ στο κουμπί ""?"", για να δείτε μια υπόδειξη όσον αφορά τον κωδικό πρόσβασης.\r\n\r\nΠληκτρολογήστε ξανά τον κωδικό πρόσβασης.  \r\nΦροντίστε να χρησιμοποιήσετε τον σωστό συνδυασμό πεζών και κεφαλαίων γραμμάτων."
    IDS_BADPWDHINTREST "Μπορείτε να κάνετε κλικ στο κουμπί ""?"", για να δείτε την υπόδειξη που αφορά τον κωδικό σας πρόσβασης.\\r\\Ή, μπορείτε να <A>χρησιμοποιήσετε τη δισκέτα επαναφοράς κωδικού πρόσβασης</A>.\\r\\n\\r\\nΠληκτρολογήστε πάλι τον κωδικό πρόσβασης.  \\r\\nΒεβαιωθείτε ότι χρησιμοποιείτε σωστά τα κεφαλαία και τα πεζά γράμματα."
    IDS_BADPWDREST "Μπορείτε να <A>χρησιμοποιήσετε τη δισκέτα επαναφοράς κωδικού πρόσβασης </A>.\r\n\r\nΠληκτρολογήστε ξανά τον κωδικό πρόσβασης.  \r\nΦροντίστε να χρησιμοποιήσετε τον σωστό συνδυασμό πεζών και κεφαλαίων γραμμάτων."
    IDS_BADPWDTITLE "Ξεχάσατε τον κωδικό πρόσβασής σας;"
    IDS_BEGIN "Για να ξεκινήσετε, κάντε κλικ στο δικό σας όνομα χρήστη"
    IDS_CANCEL "Άκυρο"
    IDS_CHANGEPASSWORD "&Αλλαγή κωδικού..."
    IDS_EMERGENCYSHUTDOWN "Εάν συνεχίσετε, ο υπολογιστής σας θα ξεκινήσει πάλι και όσα δεδομένα δεν έχουν αποθηκευτεί θα χαθούν.  Χρησιμοποιήστε το ως τελευταία επιλογή."
    IDS_EMERGENCYSHUTDOWNCAPTION "Αναγκαστικός τερματισμός λειτουργίας"
    IDS_HELPFONT "Arial Greek"
    IDS_HELPFONTSIZE "12"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Κλείδωμα υπολογιστή"
    IDS_LOGGEDON "Αυτήν τη στιγμή σε σύνδεση"
    IDS_LOGGINGON "Γίνεται σύνδεση..."
    IDS_LOGOFF "Α&ποσύνδεση..."
    IDS_MANAGEACCOUNTS "Αφού συνδεθείτε, μπορείτε να προσθέσετε ή να αλλάξετε λογαριασμούς.\r\nΠηγαίνετε στον Πίνακα Ελέγχου και κάντε κλικ στην επιλογή ""Λογαριασμοί χρηστών""."
    IDS_OPTIONSFONT "Tahoma"
    IDS_PASSWORDHINTTITLE "Υπόδειξη κωδικού:"
    IDS_PLEASEWAIT "περιμένετε..."
    IDS_POWER "Σβήσιμο του υπολογιστή"
    IDS_POWERNAME "Απενεργοποίηση %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d πρόγραμμα σε εκτέλεση."
    IDS_RUNNINGPROGRAMS "%d προγράμματα σε εκτέλεση."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "Αλλαγή &χρήστη"
    IDS_TASKMANAGER "&Διαχείριση Εργασιών"
    IDS_TOOMANYPROGRAMS "Η εκτέλεση πολύ μεγάλου αριθμού προγραμμάτων μπορεί να έχει ως αποτέλεσμα την επιβράδυνση της λειτουργίας του υπολογιστή σας. \r\nΕάν ο υπολογιστής σας λειτουργεί με μικρότερη ταχύτητα από την κανονική, δοκιμάστε να κλείσετε ορισμένα προγράμματα."
    IDS_TOOMANYUSERS "Η εκτέλεση πολύ μεγάλου αριθμού προγραμμάτων μπορεί να έχει ως αποτέλεσμα την επιβράδυνση της λειτουργίας του υπολογιστή σας. \r\nΕάν ο υπολογιστής σας λειτουργεί με μικρότερη ταχύτητα από την κανονική, δοκιμάστε να αποσυνδέσετε ορισμένους χρήστες."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Πληκτρολογήστε τον κωδικό σας"
    IDS_UNDOCK "Απαγκύρωση υπολογιστή"
    IDS_UNDOCKNAME "Απαγκύρωση %s"
    IDS_UNLOCK "Πατήστε Ctrl-Alt-Delete για να ξεκινήσετε."
    IDS_UNREADMAIL "%d μη αναγνωσμένο μήνυμα ταχυδρομείου."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d μη αναγνωσμένα μηνύματα ταχυδρομείου."
    IDS_UNREADMAILTEMP "Για ανάγνωση των μηνυμάτων σας, συνδεθείτε και επιλέξτε ""Ηλεκτρονική αλληλογραφία"" από το μενού ""Έναρξη""."
    IDS_USER "Χρήστης"
    IDS_USERISLOGGEDON "Ο χρήστης %s έχει συνδεθεί"
    IDS_USERLOGGEDON "Έγινε σύνδεση"
    IDS_USERRUNNINGPROGRAM "%s έχει %d πρόγραμμα σε εκτέλεση"
    IDS_USERRUNNINGPROGRAMS "%s έχει %d προγράμματα σε εκτέλεση"
    IDS_USERUNREADEMAIL "Ο χρήστης %s έχει %d μήνυμα ηλεκτρονικού ταχυδρομείου"
    IDS_USERUNREADEMAILS "Ο χρήστης %s έχει %d μηνύματα ηλεκτρονικού ταχυδρομείου"
    IDS_WELCOME "Καλώς ορίσατε"
    IDS_WELCOMEFONT "Arial Greek"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Ασφάλεια των Windows"
END
