#pragma code_page(65001)

LANGUAGE LANG_SPANISH, 0x3

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Iniciar sesión de usuario"
    IDS_BADPWD "Vuelva a escribir su contraseña.  \r\nAsegúrese de que usa las letras mayúsculas o minúsculas correctamente."
    IDS_BADPWDHINT "Puede hacer clic en el botón ""?"" para ver la sugerencia de su contraseña.\r\n\r\nVuelva a escribir su contraseña de nuevo.  \r\nAsegúrese de que usa las letras mayúsculas y minúsculas correctas."
    IDS_BADPWDHINTREST "Puede hacer clic en el botón ""?"" para ver la sugerencia de su contraseña.\r\nO puede <A>usar su disco para restablecer contraseña</A>.\r\n\r\nVuelva a escribir su contraseña de nuevo.  \r\nAsegúrese de que usa las letras mayúsculas y minúsculas correctas."
    IDS_BADPWDREST "Puede <A>usar su disco para restablecer la contraseña</A>.\r\n\r\nVuelva a escribir su contraseña de nuevo.  \r\nAsegúrese de que usa las letras mayúsculas y minúsculas correctas."
    IDS_BADPWDTITLE "¿Ha olvidado la contraseña?"
    IDS_BEGIN "Haga clic en su nombre para comenzar"
    IDS_CANCEL "Cancelar"
    IDS_CHANGEPASSWORD "Cam&biar contraseña..."
    IDS_EMERGENCYSHUTDOWN "Si continua, su máquina se reiniciará y perderá todos los trabajos que no hayan sido guardados. Utilice esto sólo como último recurso."
    IDS_EMERGENCYSHUTDOWNCAPTION "Apagado de emergencia"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Bl&oquear equipo"
    IDS_LOGGEDON "Sesión iniciada actualmente en"
    IDS_LOGGINGON "Iniciando sesión..."
    IDS_LOGOFF "&Cerrar sesión..."
    IDS_MANAGEACCOUNTS "Puede agregar o cambiar cuentas al iniciar sesión.\r\nEn Panel de Control, haga clic en Cuentas de usuario."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Sugerencia de contraseña:"
    IDS_PLEASEWAIT "espere..."
    IDS_POWER "Apagar equipo"
    IDS_POWERNAME "Apagar %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d programa en ejecución."
    IDS_RUNNINGPROGRAMS "%d programas en ejecución."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "C&ambiar de usuario"
    IDS_TASKMANAGER "Admi&nistrador de tareas"
    IDS_TOOMANYPROGRAMS "Si ejecuta demasiados programas puede disminuir la velocidad de procesamiento de su equipo. \r\nSi su equipo se ejecuta más lentamente de lo normal, intente cerrar algunos programas."
    IDS_TOOMANYUSERS "Si ejecuta demasiados programas puede disminuir la velocidad de procesamiento de su equipo. \r\nSi su equipo se ejecuta más lentamente de lo normal, intente cerrar la sesión de algunos usuarios."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Escriba su contraseña"
    IDS_UNDOCK "Desacoplar equipo"
    IDS_UNDOCKNAME "Desacoplar %s"
    IDS_UNLOCK "Presione Ctrl-Alt-Supr para iniciar."
    IDS_UNREADMAIL "%d mensaje sin leer."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d mensajes sin leer."
    IDS_UNREADMAILTEMP "Para leer sus mensajes, inicie sesión y elija Correo electrónico en el menú Inicio."
    IDS_USER "Usuario"
    IDS_USERISLOGGEDON "%s ha iniciado sesión"
    IDS_USERLOGGEDON "Iniciada la sesión"
    IDS_USERRUNNINGPROGRAM "%s tiene %d programa en ejecución"
    IDS_USERRUNNINGPROGRAMS "%s tiene %d programas en ejecución"
    IDS_USERUNREADEMAIL "%s tiene %d mensaje de correo electrónico"
    IDS_USERUNREADEMAILS "%s tiene %d mensajes de correo electrónico"
    IDS_WELCOME "bienvenido"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Seguridad de Windows"
END
