#pragma code_page(65001)

LANGUAGE LANG_ESTONIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "Tahoma"
    IDS_ACDSC_PWD "Logige kasutaja sisse"
    IDS_BADPWD "Tippige oma parool uuesti.  \r\nKasutage kindlasti õigeid suur- ja väiketähti."
    IDS_BADPWDHINT "Oma paroolivihje nägemiseks võite klõpsata nuppu ?.\r\n\r\nTippige oma parool uuesti.  \r\nKasutage kindlasti õigeid suur- ja väiketähti."
    IDS_BADPWDHINTREST "Oma paroolivihje nägemiseks võite klõpsata nuppu ?.\r\nVõite ka <A>kasutada paroolilähtestusketast</A>.\r\n\r\nTippige oma parool uuesti.  \r\nKasutage kindlasti õigeid suur- ja väiketähti."
    IDS_BADPWDREST "Võite <A>kasutada paroolilähtestusketast</A>.\r\n\r\nTippige oma parool uuesti.  \r\nKasutage kindlasti õigeid suur- ja väiketähti."
    IDS_BADPWDTITLE "Kas olete oma parooli unustanud?"
    IDS_BEGIN "Alustamiseks klõpsake oma kasutajanime"
    IDS_CANCEL "Loobu"
    IDS_CHANGEPASSWORD "Muuda &parool..."
    IDS_EMERGENCYSHUTDOWN "Kui jätkate, siis arvuti rebuudib ja kõik salvestamata andmed lähevad kaotsi. Kasutage seda vaid hädakorral."
    IDS_EMERGENCYSHUTDOWNCAPTION "Hädasulgemine"
    IDS_HELPFONT "Arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Lu&kusta arvuti"
    IDS_LOGGEDON "Praegu sisselogitud"
    IDS_LOGGINGON "Sisselogimine..."
    IDS_LOGOFF "Lo&gi välja..."
    IDS_MANAGEACCOUNTS "Pärast sisselogimist võite kontosid lisada või muuta.\r\nMinge juhtpaneelile ja klõpsake kausta Kasutajakontod."
    IDS_OPTIONSFONT "Tahoma"
    IDS_PASSWORDHINTTITLE "Paroolivihje:"
    IDS_PLEASEWAIT "palun oodake..."
    IDS_POWER "Lülita arvuti välja"
    IDS_POWERNAME "Lülitage %s välja"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d programm töötab."
    IDS_RUNNINGPROGRAMS "%d programmi töötavad."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Vaheta kasutajat"
    IDS_TASKMANAGER "&Tegumihaldur"
    IDS_TOOMANYPROGRAMS "Liiga paljude programmide töötamine võib arvutit aeglustada. \r\nKui arvuti töötab normaalsest aeglasemalt, proovige mõni programm sulgeda."
    IDS_TOOMANYUSERS "Liiga paljude programmide töötamine võib arvutit aeglustada. \r\nKui arvuti töötab normaalsest aeglasemalt, proovige mõni kasutaja välja logida."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Tippige oma parool"
    IDS_UNDOCK "Dokkige arvuti lahti"
    IDS_UNDOCKNAME "Dokkige %s lahti"
    IDS_UNLOCK "Alustamiseks vajutage klahve Ctrl-Alt-Delete."
    IDS_UNREADMAIL "%d lugemata meilisõnum."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d lugemata meilisõnumit."
    IDS_UNREADMAILTEMP "Oma sõnumite lugemiseks logige sisse ja klõpsake menüü Start käsku E-post."
    IDS_USERISLOGGEDON "%s on sisse logitud"
    IDS_USERLOGGEDON "Sisselogitud"
    IDS_USERRUNNINGPROGRAM "Arvutis %s töötab programm %d"
    IDS_USERRUNNINGPROGRAMS "Arvutis %s töötavad programmid %d"
    IDS_USERUNREADEMAIL "Arvutis %s on %d meilisõnum"
    IDS_USERUNREADEMAILS "Arvutis %s on %d meilisõnumit"
    IDS_WELCOME "tervitus"
    IDS_WELCOMEFONT "Arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windowsi turvalisus"
END
