#pragma code_page(65001)

LANGUAGE LANG_FINNISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "Tahoma"
    IDS_ACDSC_PWD "Kirjaa käyttäjä sisään"
    IDS_BADPWD "Kirjoita salasana uudelleen.  \r\nVirmista, että käytät oikeita kirjain kokoja."
    IDS_BADPWDHINT "Voit tuoda salasanavihjeesi näyttöön napsauttamalla kysymysmerkkipainiketta (?).\r\n\r\nKirjoita salasanasi uudelleen. \r\nVarmista, että kirjoitat isot ja pienet kirjaimet oikein."
    IDS_BADPWDHINTREST "Voit tuoda salasanavihjeesi näyttöön napsauttamalla kysymysmerkkipainiketta (?).\r\nVoit myös <A>käyttää salasanan palautuslevykettä</A>.\r\n\r\nKirjoita salasanasi uudelleen. \r\nVarmista, että kirjoitat isot ja pienet kirjaimet oikein."
    IDS_BADPWDREST "Voit <A>käyttää salasanan palautuslevykettä</A>.\r\n\r\nKirjoita salasanasi uudelleen. \r\nVarmista, että kirjoitat isot ja pienet kirjaimet oikein."
    IDS_BADPWDTITLE "Unohtuiko salasana?"
    IDS_BEGIN "Aloita valitsemalla käyttäjänimi"
    IDS_CANCEL "Peruuta"
    IDS_CHANGEPASSWORD "&Muuta salasana..."
    IDS_EMERGENCYSHUTDOWN "Jos jatkat, tietokoneesi käynnistyy uudelleen ja kaikki tallentamaton tieto häviää. Käytä tätä vain viimeisenä keinona."
    IDS_EMERGENCYSHUTDOWNCAPTION "Hätäsammutus"
    IDS_HELPFONT "Arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Lukitse tietokone"
    IDS_LOGGEDON "(ei tällä hetkellä kirjautuneena)"
    IDS_LOGGINGON "Kirjaudutaan sisään..."
    IDS_LOGOFF "&Kirjaudu ulos..."
    IDS_MANAGEACCOUNTS "Kirjautumisen jälkeen tilejä voi lisätä ja muokata Ohjauspaneelin Käyttäjätilit-osassa."
    IDS_OPTIONSFONT "Tahoma"
    IDS_PASSWORDHINTTITLE "Salasanavihje:"
    IDS_PLEASEWAIT "Odota hetki..."
    IDS_POWER "Sammuta tietokone"
    IDS_POWERNAME "Sammuta %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d ohjelma käynnissä."
    IDS_RUNNINGPROGRAMS "%d ohjelmaa käynnissä."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Vaihda käyttäjää"
    IDS_TASKMANAGER "&Tehtävienhallinta"
    IDS_TOOMANYPROGRAMS "Liian monen ohjelman suorittaminen saattaa hidastaa tietokonetta. \r\nMikäli tietokone on normaalia hitaampi, sulje joitakin sovelluksia."
    IDS_TOOMANYUSERS "Liian monen ohjelman suorittaminen saattaa hidastaa tietokonetta. \r\nMikäli tietokone on normaalia hitaampi, kirjaa joitakin käyttäjiä ulos järjestelmästä."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Kirjoita salasana"
    IDS_UNDOCK "Poista tietokone"
    IDS_UNDOCKNAME "Poista telakointi: %s"
    IDS_UNLOCK "Aloita painamalla Ctrl+Alt+Del."
    IDS_UNREADMAIL "%d lukematon sähköposti."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d lukematonta sähköpostia."
    IDS_UNREADMAILTEMP "Viestit luetaan kirjautumalla sisään ja valitsemalla Sähköposti Käynnistä-valikosta."
    IDS_USER "Käyttäjä"
    IDS_USERISLOGGEDON "%s on kirjautuneena sisään"
    IDS_USERLOGGEDON "Kirjautunut"
    IDS_USERRUNNINGPROGRAM "Kohteessa %s on %d ohjelma käynnissä"
    IDS_USERRUNNINGPROGRAMS "Kohteessa %s on %d ohjelmaa käynnissä"
    IDS_USERUNREADEMAIL "Kohteessa %s on %d sähköpostiviesti"
    IDS_USERUNREADEMAILS "Kohteessa %s on %d sähköpostiviestiä"
    IDS_WELCOME "Tervetuloa"
    IDS_WELCOMEFONT "Arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windowsin suojaus"
END
