#pragma code_page(65001)

LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Ouvrir une session pour l'utilisateur"
    IDS_BADPWD "Entrez à nouveau votre mot de passe à nouveau.\r\nVérifiez que la casse est respectée."
    IDS_BADPWDHINT "Vous pouvez cliquer sur le bouton ""?"" pour afficher l'indication concernant votre mot de passe.\r\n\r\nEntrez votre mot de passe à nouveau.\r\nVérifiez que la casse est respectée."
    IDS_BADPWDHINTREST "Vous pouvez cliquez sur le bouton ""?"" pour afficher l'indication concernant votre mot de passe.\r\nOu vous pouvez <A>utiliser votre disque de réinitialisation de mot de passe</A>.\r\n\r\nEntrez votre mot de passe à nouveau.\r\nVérifiez que la casse est respectée."
    IDS_BADPWDREST "Vous pouvez <A>utiliser votre disque de réinitialisation de mot de passe</A>.\r\n\r\nEntrez votre mot de passe à nouveau.\r\nVérifiez que la casse est respectée."
    IDS_BADPWDTITLE "Avez-vous oublié votre mot de passe ?"
    IDS_BEGIN "Pour commencer, cliquez sur votre nom d'utilisateur"
    IDS_CANCEL "Annuler"
    IDS_CHANGEPASSWORD "&Modifier le mot de passe..."
    IDS_EMERGENCYSHUTDOWN "Si vous continuez, votre ordinateur va redémarrer et les données non enregistrées seront perdues. N'effectuez cette action qu'en dernier recours."
    IDS_EMERGENCYSHUTDOWNCAPTION "Arrêt d'urgence"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Verrouiller l'ordinateur"
    IDS_LOGGEDON "Actuellement connecté sur"
    IDS_LOGGINGON "Ouverture de session..."
    IDS_LOGOFF "&Fermer la session..."
    IDS_MANAGEACCOUNTS "Après avoir ouvert votre session, vous pouvez ajouter ou modifier des comptes.\r\nAllez dans le Panneau de configuration et cliquez sur Comptes d'utilisateurs."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Indication de mot de passe :"
    IDS_PLEASEWAIT "Veuillez patienter..."
    IDS_POWER "Arrêter l'ordinateur"
    IDS_POWERNAME "Désactiver %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d programme en cours d'exécution."
    IDS_RUNNINGPROGRAMS "%d programmes en cours d'exécution."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Changer d'utilisateur"
    IDS_TASKMANAGER "&Gestionnaire des tâches"
    IDS_TOOMANYPROGRAMS "Exécuter trop de programmes peut ralentir votre ordinateur.\r\nSi votre ordinateur est plus lent que d'habitude, essayez de fermer quelques programmes."
    IDS_TOOMANYUSERS "Exécuter trop de programmes peut ralentir votre ordinateur.\r\nSi votre ordinateur est plus lent que d'habitude, essayez de déconnecter des utilisateurs."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Mot de passe "
    IDS_UNDOCK "Retirer l'ordinateur"
    IDS_UNDOCKNAME "Retirer %s"
    IDS_UNLOCK "Appuyez sur Ctrl+Alt+Suppr pour démarrer."
    IDS_UNREADMAIL "%d message non lu."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d messages non lus."
    IDS_UNREADMAILTEMP "Pour lire vos messages, connectez vous et choisissez Courrier électronique dans le menu de démarrage."
    IDS_USER "Utilisateur"
    IDS_USERISLOGGEDON "%s est connecté"
    IDS_USERLOGGEDON "Session ouverte"
    IDS_USERRUNNINGPROGRAM "%s a %d programme en cours d'exécution"
    IDS_USERRUNNINGPROGRAMS "%s a %d programmes en cours d'exécution"
    IDS_USERUNREADEMAIL "%s a %d message"
    IDS_USERUNREADEMAILS "%s a %d messages"
    IDS_WELCOME "Bienvenue"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Sécurité de Windows"
END
