#pragma code_page(65001)

LANGUAGE LANG_GERMAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Benutzer wird angemeldet"
    IDS_BADPWD "Geben Sie das Kennwort erneut ein.  \r\nBeachten Sie die Groß-/Kleinschreibung."
    IDS_BADPWDHINT "Klicken Sie auf ""?"", um den Kennworthinweis anzuzeigen.\r\n\r\nGeben Sie das Kennwort erneut ein.  \r\nBeachten Sie die Groß-/Kleinschreibung."
    IDS_BADPWDHINTREST "Klicken Sie auf ""?"", um den Kennworthinweis anzuzeigen.\r\nOder klicken Sie <A>hier</A>, um die Kennwortrücksetzdiskette zu verwenden.\r\n\r\nGeben Sie das Kennwort erneut ein.  \r\nBeachten Sie die Groß-/Kleinschreibung."
    IDS_BADPWDREST "Klicken Sie <A>hier</A>, um die Kennwortrücksetzdiskette zu verwenden.\r\n\r\nGeben Sie das Kennwort erneut ein.  \r\nBeachten Sie die Groß-/Kleinschreibung."
    IDS_BADPWDTITLE "Haben Sie das Kennwort vergessen?"
    IDS_BEGIN "Klicken Sie auf Ihren Benutzernamen, um sich anzumelden."
    IDS_CANCEL "Abbrechen"
    IDS_CHANGEPASSWORD "&Kennwort ändern..."
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Computer &sperren"
    IDS_LOGGEDON "Zurzeit angemeldet"
    IDS_LOGGINGON "Die Anmeldung wird durchgeführt..."
    IDS_LOGOFF "&Abmelden..."
    IDS_MANAGEACCOUNTS "Nach der Anmeldung können Konten hinzugefügt oder geändert werden.\r\nKlicken Sie in der Systemsteuerung auf ""Benutzerkonten""."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Kennworthinweis:"
    IDS_PLEASEWAIT "Bitte warten..."
    IDS_POWER "Computer ausschalten"
    IDS_POWERNAME "%s ausschalten"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d Programm wird ausgeführt."
    IDS_RUNNINGPROGRAMS "%d Programme werden ausgeführt."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Benutzer wechseln"
    IDS_TASKMANAGER "&Task-Manager"
    IDS_TOOMANYPROGRAMS "Zu viele geöffnete Programme beeinträchtigen die Geschwindigkeit des Computers. \r\nSchließen Sie einige Programme, falls der Computer langsamer als gewöhnlich reagiert."
    IDS_TOOMANYUSERS "Zu viele geöffnete Programme beeinträchtigen die Geschwindigkeit des Computers. \r\nMelden Sie einige Benutzer ab, falls der Computer langsamer als gewöhnlich reagiert."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Geben Sie Ihr Kennwort ein."
    IDS_UNDOCK "Computer abdocken"
    IDS_UNDOCKNAME "%s abdocken"
    IDS_UNLOCK "Drücken Sie Strg+Alt+Entf, um sich anzumelden."
    IDS_UNREADMAIL "%d nicht gelesene E-Mail-Nachricht."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d nicht gelesene E-Mail-Nachrichten."
    IDS_UNREADMAILTEMP "Melden Sie sich an, und wählen Sie ""E-Mail"" im Startmenü, um Nachrichten zu lesen."
    IDS_USER "Benutzer"
    IDS_USERISLOGGEDON "%s ist angemeldet"
    IDS_USERLOGGEDON "Angemeldet"
    IDS_USERRUNNINGPROGRAM "Benutzer %s führt %d Programm aus"
    IDS_USERRUNNINGPROGRAMS "Benutzer %s führt %d Programme aus"
    IDS_USERUNREADEMAIL "Benutzer %s hat %d E-Mail-Nachricht"
    IDS_USERUNREADEMAILS "Benutzer %s hat %d E-Mail-Nachrichten"
    IDS_WELCOME "Willkommen"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "32"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows-Sicherheit"
END
