#pragma code_page(65001)

LANGUAGE LANG_HEBREW, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "הכנס את המשתמש"
    IDS_BADPWD "‏‏נא הקלד את הסיסמה שוב.  \r\nהקפד להשתמש בשילוב הנכון של אותיות רישיות ואותיות קטנות."
    IDS_BADPWDHINT "‏‏באפשרותך ללחוץ על לחצן ""?"" כדי לראות רמז לסיסמה.\r\n\r\nנא הקלד את הסיסמה שוב.  \r\nהקפד להשתמש בשילוב הנכון של אותיות רישיות ואותיות קטנות."
    IDS_BADPWDHINTREST "‏‏באפשרותך ללחוץ על לחצן ""?"" כדי לראות רמז לסיסמה.\r\nלחלופין באפשרותך <A>להשתמש בדיסק לאיפוס הסיסמה</A>.\r\n\r\nנא הקלד את הסיסמה שוב.  \r\nהקפד להשתמש בשילוב הנכון של אותיות רישיות ואותיות קטנות."
    IDS_BADPWDREST "‏‏באפשרותך <A>להשתמש בדיסק לאיפוס הסיסמה</A>.\r\n\r\nנא הקלד את הסיסמה שוב.  \r\nהקפד להשתמש בשילוב הנכון של אותיות רישיות ואותיות קטנות."
    IDS_BADPWDTITLE "‏‏האם שכחת את הסיסמה?"
    IDS_BEGIN "‏‏כדי להתחיל, לחץ על שם המשתמש שלך"
    IDS_CANCEL "ביטול"
    IDS_CHANGEPASSWORD "&שינוי הסיסמה..."
    IDS_EMERGENCYSHUTDOWN "‏‏אם תמשיך, תתבצע הפעלה מחדש של המחשב ונתונים שלא נשמרו יאבדו. השתמש באפשרות זו כמוצא אחרון בלבד."
    IDS_EMERGENCYSHUTDOWNCAPTION "‏‏כיבוי חירום"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&נעילת המחשב"
    IDS_LOGGEDON "מחובר כעת"
    IDS_LOGGINGON "נכנס למערכת..."
    IDS_LOGOFF "&התנתקות..."
    IDS_MANAGEACCOUNTS "‏‏לאחר הכניסה, באפשרותך להוסיף או לשנות חשבונות.\r\nפשוט עבור אל לוח הבקרה ולחץ על 'חשבונות משתמשים'."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "‏‏רמז לסיסמה:"
    IDS_PLEASEWAIT "‏‏נא המתן..."
    IDS_POWER "כיבוי המחשב"
    IDS_POWERNAME "כיבוי %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "תוכנית פועלת %d."
    IDS_RUNNINGPROGRAMS "%d תוכניות פועלות."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&החלף משתמש"
    IDS_TASKMANAGER "&מנהל המשימות"
    IDS_TOOMANYPROGRAMS "‏‏הפעלת תוכניות רבות מדי עלולה להאט את המחשב. \r\nאם המחשב פועל באופן איטי מהרגיל, נסה לסגור תוכניות אחדות."
    IDS_TOOMANYUSERS "‏‏הפעלת תוכניות רבות מדי עלולה להאט את המחשב. \r\nאם המחשב פועל באופן איטי מהרגיל, נסה לנתק משתמשים אחדים."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "‏‏הקלד את הסיסמה שלך"
    IDS_UNDOCK "ניתוק המחשב"
    IDS_UNDOCKNAME "ניתוק %s"
    IDS_UNLOCK "‏‏כדי להתחיל, לחץ על Ctrl-Alt-Delete."
    IDS_UNREADMAIL "הודעת דואר %d שלא נקראה."
    IDS_UNREADMAILACCOUNT "%s ‏(%d)"
    IDS_UNREADMAILS "%d הודעות דואר שלא נקראו."
    IDS_UNREADMAILTEMP "‏‏כדי לקרוא את הודעותיך, התחבר ובחר בפקודה דואר אלקטרוני מתפריט התחלה."
    IDS_USER "User"
    IDS_USERISLOGGEDON "‏‏המשתמש %s מחובר"
    IDS_USERLOGGEDON "מחובר"
    IDS_USERRUNNINGPROGRAM "ל- %s יש תוכנית %d פועלת"
    IDS_USERRUNNINGPROGRAMS "ל- %s יש %d תוכניות פועלות"
    IDS_USERUNREADEMAIL "ל- %s יש הודעת דואר אלקטרוני %d"
    IDS_USERUNREADEMAILS "ל- %s יש %d הודעות דואר אלקטרוני"
    IDS_WELCOME "ברוך הבא"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "אבטחת Windows"
END
