#pragma code_page(65001)

LANGUAGE LANG_CROATIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Prijava korisnika"
    IDS_BADPWD "Ponovno upišite svoju lozinku.  \r\nSvakako koristite ispravna odgovarajuća velika i mala slova."
    IDS_BADPWDHINT "Možete pritisnuti gumb ""?"" kako biste vidjeli sugestiju za lozinku.\r\n\r\nPonovno upišite svoju lozinku.  \r\nSvakako koristite ispravna odgovarajuća velika i mala slova."
    IDS_BADPWDHINTREST "Možete pritisnuti gumb ""?"" kako biste vidjeli sugestiju za lozinku.\r\nIli možete <A>koristiti disketu za vraćanje lozinke</A>.\r\n\r\nPonovno upišite svoju lozinku.  \r\nSvakako koristite ispravna odgovarajuća velika i mala slova."
    IDS_BADPWDREST "Pritisnite <A>ovdje</A> ako želite koristiti disketu za vraćanje lozinke.\r\n\r\nPonovno upišite svoju lozinku.  \r\nSvakako koristite ispravna odgovarajuća velika i mala slova."
    IDS_BADPWDTITLE "Jeste li možda zaboravili svoju lozinku?"
    IDS_BEGIN "Za početak pritisnite svoje korisničko ime"
    IDS_CANCEL "Odustani"
    IDS_CHANGEPASSWORD "&Promijeni lozinku..."
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Za&ključaj računalo"
    IDS_LOGGEDON "Trenutno prijavljen"
    IDS_LOGGINGON "Prijavljivanje..."
    IDS_LOGOFF "&Odjavi korisnika..."
    IDS_MANAGEACCOUNTS "Nakon što se prijavite, možete dodavati ili mijenjati račune.\r\nSamo idite na Upravljačku ploču i pritisnite Korisnički računi."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Sugestija lozinke:"
    IDS_PLEASEWAIT "pričekajte..."
    IDS_POWER "Isključi računalo"
    IDS_POWERNAME "Isključi %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d program se izvodi."
    IDS_RUNNINGPROGRAMS "%d programa se izvodi."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Promijeni korisnika"
    IDS_TASKMANAGER "&Upravitelj zadataka"
    IDS_TOOMANYPROGRAMS "Izvođenje puno programa može usporiti vaše računalo. \r\nAko računalo radi sporije od uobičajenog, pokušajte zatvoriti neke programe."
    IDS_TOOMANYUSERS "Izvođenje puno programa može usporiti vaše računalo. \r\nAko računalo radi sporije od uobičajenog, pokušajte odjaviti neke korisnike."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Upišite svoju lozinku"
    IDS_UNDOCK "Ukloni računalo iz ležišta"
    IDS_UNDOCKNAME "Oslobodi %s"
    IDS_UNLOCK "Pritisnite Ctrl-Alt-Delete za početak."
    IDS_UNREADMAIL "%d nepročitana poruka pošte."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d nepročitanih poruka pošte."
    IDS_UNREADMAILTEMP "Za čitanje svojih poruka prijavite se i s izbornika Start odaberite E-pošta."
    IDS_USERISLOGGEDON "%s je prijavljen"
    IDS_USERLOGGEDON "Prijavljen"
    IDS_USERRUNNINGPROGRAM "%s ima %d program koji se izvodi"
    IDS_USERRUNNINGPROGRAMS "%s ima %d programa koji se izvode"
    IDS_USERUNREADEMAIL "%s ima %d poruku e-pošte"
    IDS_USERUNREADEMAILS "%s ima %d poruka e-pošte"
    IDS_WELCOME "dobrodošli"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Sigurnost sustava Windows"
END
