#pragma code_page(65001)

LANGUAGE LANG_HUNGARIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Felhasználó bejelentkeztetése"
    IDS_BADPWD "Adja meg újra jelszavát.  \r\nFigyeljen arra, hogy a kis- és nagybetűket helyesen használja."
    IDS_BADPWDHINT "A ""?"" gombra kattintva megnézheti az emlékeztető szöveget.\r\n\r\nAdja meg újra jelszavát.  \r\nFigyeljen arra, hogy a kis- és nagybetűket helyesen használja."
    IDS_BADPWDHINTREST "A ""?"" gombra kattintva megnézheti az emlékeztető szöveget.\r\nHasználhatja a <A>jelszókiadási lemezt</A> is.\r\n\r\nAdja meg újra a jelszavát.  \r\nFigyeljen arra, hogy a kis- és nagybetűket helyesen használja."
    IDS_BADPWDREST "Használhatja a <A>jelszókiadási lemezt</A>.\r\n\r\nAdja meg újra a jelszavát.  \r\nFigyeljen arra, hogy a kis- és nagybetűket helyesen használja."
    IDS_BADPWDTITLE "Elfelejtette a jelszavát?"
    IDS_BEGIN "A kezdéshez kattintson a felhasználónévre"
    IDS_CANCEL "Mégse"
    IDS_CHANGEPASSWORD "&Jelszó módosítása..."
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Számítógép zárolása"
    IDS_LOGGEDON "Jelenleg bejelentkezve"
    IDS_LOGGINGON "Bejelentkezés..."
    IDS_LOGOFF "&Kijelentkezés..."
    IDS_MANAGEACCOUNTS "Bejelentkezés után hozzáadhat vagy módosíthat fiókokat.\r\nNyissa meg a Vezérlőpultot, és kattintson a Felhasználói fiókok ikonra."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "A jelszóhoz tartozó emlékeztető szöveg:"
    IDS_PLEASEWAIT "Várjon..."
    IDS_POWER "A számítógép kikapcsolása"
    IDS_POWERNAME "%s kikapcsolása"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d program fut."
    IDS_RUNNINGPROGRAMS "%d program fut."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "F&elhasználóváltás"
    IDS_TASKMANAGER "&Feladatkezelő"
    IDS_TOOMANYPROGRAMS "Túl sok program futása lelassíthatja a számítógépet. \r\nHa a számítógép a szokásosnál lassabban fut, próbáljon meg bezárni néhány programot."
    IDS_TOOMANYUSERS "Túl sok program futása lelassíthatja a számítógépet. \r\nHa a számítógép a szokásosnál lassabban fut, próbáljon meg kijelentkeztetni néhány felhasználót."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Írja be a jelszót"
    IDS_UNDOCK "A számítógép szétkapcsolása"
    IDS_UNDOCKNAME "Szétkapcsolás - %s"
    IDS_UNLOCK "A kezdéshez nyomja meg a Ctrl+Alt+Del billentyűket."
    IDS_UNREADMAIL "%d elolvasatlan üzenet."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d elolvasatlan üzenet."
    IDS_UNREADMAILTEMP "Az üzenetek elolvasásához jelentkezzen be, és a Start menüben válassza az E-mail pontot."
    IDS_USER "Felhasználó"
    IDS_USERISLOGGEDON "%s be van jelentkezve"
    IDS_USERLOGGEDON "Bejelentkezve"
    IDS_USERRUNNINGPROGRAM "%s felhasználó %d programot futtat"
    IDS_USERRUNNINGPROGRAMS "%s felhasználó %d programot futtat"
    IDS_USERUNREADEMAIL "%s felhasználónak %d e-mail üzenete van"
    IDS_USERUNREADEMAILS "%s felhasználónak %d e-mail üzenete van"
    IDS_WELCOME "Üdvözöljük"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows rendszerbiztonság"
END
