#pragma code_page(65001)

LANGUAGE LANG_ITALIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Connetti utente"
    IDS_BADPWD "Digitare nuovamente la password.  \r\nAssicurarsi di utilizzare le lettere maiuscole e minuscole corrette."
    IDS_BADPWDHINT "È possibile fare clic sul pulsante ""?"" per visualizzare il suggerimento.\r\n\r\nDigitare nuovamente la password.  \r\nAssicurarsi di utilizzare le lettere maiuscole e minuscole corrette."
    IDS_BADPWDHINTREST "È possibile fare clic sul pulsante ""?"" per visualizzare il suggerimento.\r\nÈ possibile <A>utilizzare il disco di ripristino password</A>.\r\n\r\nDigitare nuovamente la password.  \r\nAssicurarsi di utilizzare le lettere maiuscole e minuscole corrette."
    IDS_BADPWDREST "È possibile <A>utilizzare il disco di ripristino password</A>.\r\n\r\nDigitare nuovamente la password.  \r\nAssicurarsi di utilizzare le lettere maiuscole e minuscole corrette."
    IDS_BADPWDTITLE "Password dimenticata?"
    IDS_BEGIN "Per iniziare, fare clic sul nome utente"
    IDS_CANCEL "Annulla"
    IDS_CHANGEPASSWORD "Cambia pass&word..."
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Blocca computer"
    IDS_LOGGEDON "Attualmente connesso"
    IDS_LOGGINGON "Accesso in corso..."
    IDS_LOGOFF "Dis&connetti..."
    IDS_MANAGEACCOUNTS "Dopo l'accesso, sarà possibile aggiungere altri account o modificarli.\r\nÈ sufficiente andare su Pannello di controllo e scegliere Account utente."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Suggerimento:"
    IDS_PLEASEWAIT "Attendere..."
    IDS_POWER "Spegni computer"
    IDS_POWERNAME "Spegni %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d programma in esecuzione."
    IDS_RUNNINGPROGRAMS "%d programmi in esecuzione."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Cambia utente"
    IDS_TASKMANAGER "&Task Manager"
    IDS_TOOMANYPROGRAMS "L'esecuzione di troppi programmi può rallentare il computer. \r\nSe il funzionamento del computer è più lento del normale, provare a chiudere alcuni programmi."
    IDS_TOOMANYUSERS "L'esecuzione di troppi programmi può rallentare il computer. \r\nSe il funzionamento del computer è più lento del normale, provare a disconnettere alcuni utenti."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Password"
    IDS_UNDOCK "Disinserisci PC"
    IDS_UNDOCKNAME "Disinserisci %s"
    IDS_UNLOCK "Premere CTRL-ALT-CANC per iniziare."
    IDS_UNREADMAIL "%d messaggio di posta elettronica non letto."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d messaggi di posta elettronica non letti."
    IDS_UNREADMAILTEMP "per leggere i messaggi, accedere e scegliere Posta elettronica dal menu di avvio."
    IDS_USER "Utente"
    IDS_USERISLOGGEDON "%s ha avuto accesso"
    IDS_USERLOGGEDON "Sessione aperta"
    IDS_USERRUNNINGPROGRAM "%s ha %d programma in esecuzione"
    IDS_USERRUNNINGPROGRAMS "%s ha %d programmi in esecuzione"
    IDS_USERUNREADEMAIL "%s ha %d messaggio di posta elettronica"
    IDS_USERUNREADEMAILS "%s ha %d messaggi di posta elettronica"
    IDS_WELCOME "Windows XP"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Protezione di Windows"
END
