#pragma code_page(65001)

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "MS UI Gothic"
    IDS_ACDSC_PWD "ユーザーをログオンさせます"
    IDS_BADPWD "もう一度パスワードを入力してください。\r\n大文字と小文字を区別して正しく入力してください。"
    IDS_BADPWDHINT "[?] をクリックすると、パスワードのヒントを参照することができます。\r\n\r\nもう一度パスワードを入力してください。\r\n大文字と小文字を区別して正しく入力してください。"
    IDS_BADPWDHINTREST "[?] をクリックして、パスワードのヒントを参照することができます。または、<A>パスワード リセット ディスクを使う</A>ことができます。\r\n\r\nもう一度パスワードを入力してください。\r\n大文字と小文字を区別して正しく入力してください。"
    IDS_BADPWDREST "<A>パスワード リセット ディスクを使う</A>ことができます。\r\n\r\nもう一度パスワードを入力してください。\r\n大文字と小文字を区別して正しく入力してください。"
    IDS_BADPWDTITLE "パスワードを忘れてしまいましたか?"
    IDS_BEGIN "開始するにはユーザー名をクリックしてください。"
    IDS_CANCEL "キャンセル"
    IDS_CHANGEPASSWORD "パスワードの変更(&C)..."
    IDS_HELPFONT "MS UI Gothic"
    IDS_HELPFONTSIZE "12"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "コンピュータのロック(&K)"
    IDS_LOGGEDON "現在ログオンしています。"
    IDS_LOGGINGON "ログオンしています..."
    IDS_LOGOFF "ログオフ(&L)..."
    IDS_MANAGEACCOUNTS "ログオンした後でアカウントを追加または変更できます。\r\n[コントロール パネル] の [ユーザー アカウント] で行ってください。"
    IDS_OPTIONSFONT "MS UI Gothic"
    IDS_PASSWORDHINTTITLE "パスワードのヒント:"
    IDS_PLEASEWAIT "お待ちください..."
    IDS_POWER "終了オプション"
    IDS_POWERNAME "%s の電源を切ります。"
    IDS_PWINSTRUCTFONTSIZE "9"
    IDS_RUNNINGPROGRAM "%d 個のプログラムを実行しています。"
    IDS_RUNNINGPROGRAMS "%d 個のプログラムを実行しています。"
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "9"
    IDS_SWITCHUSER "ユーザーの切り替え(&S)"
    IDS_TASKMANAGER "タスク マネージャ(&T)"
    IDS_TOOMANYPROGRAMS "実行しているプログラムが多すぎるためにコンピュータの処理速度が通常より遅い場合は、プログラムをいくつか終了してください。"
    IDS_TOOMANYUSERS "実行しているプログラムが多すぎるためにコンピュータの処理速度が通常より遅い場合は、ほかのユーザーをログオフさせてください。"
    IDS_TURNOFFFONTSIZE "12"
    IDS_TYPEPASSWORD "パスワードの入力"
    IDS_UNDOCK "コンピュータを装着解除します。"
    IDS_UNDOCKNAME "%s を装着解除します。"
    IDS_UNLOCK "Ctrl+Alt+Del キーを押して開始してください。"
    IDS_UNREADMAIL "%d 通の未読メール メッセージがあります。"
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d 通の未読メール メッセージがあります。"
    IDS_UNREADMAILTEMP "メッセージを読むには、ログオンして [スタート] メニューから [電子メール] をクリックしてください。"
    IDS_USER "ユーザー"
    IDS_USERISLOGGEDON "現在 %s がこのコンピュータを使用中です。"
    IDS_USERLOGGEDON "ログオンしています。"
    IDS_USERRUNNINGPROGRAM "%s は %d 個のプログラムを実行しています。"
    IDS_USERRUNNINGPROGRAMS "%s は %d 個のプログラムを実行しています。"
    IDS_USERUNREADEMAIL "%s には %d 通の電子メール メッセージがあります。"
    IDS_USERUNREADEMAILS "%s には %d 通の電子メール メッセージがあります。"
    IDS_WELCOME "ようこそ"
    IDS_WELCOMEFONT "MS UI Gothic"
    IDS_WELCOMEFONTSIZE "32"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows のセキュリティ"
END
