#pragma code_page(65001)

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "굴림"
    IDS_ACDSC_PWD "사용자 로그온"
    IDS_BADPWD "암호를 다시 입력하십시오.  \r\n대소문자를 올바로 사용했는지 확인하십시오."
    IDS_BADPWDHINT """?"" 단추를 클릭하면 암호 힌트를 볼 수 있습니다.\r\n\r\n암호를 다시 입력하십시오.  \r\n대소문자를 올바로 사용했는지 확인하십시오."
    IDS_BADPWDHINTREST """?"" 단추를 클릭하면 암호 힌트를 볼 수 있습니다.\r\n또는 <A>암호 재설정 디스크를 사용할 수 있습니다</A>.\r\n\r\n암호를 다시 입력하십시오.  \r\n대소문자를 올바로 사용했는지 확인하십시오."
    IDS_BADPWDREST "<A>암호 재설정 디스크를 사용할 수 있습니다</A>.\r\n\r\n암호를 다시 입력하십시오.\r\n대소문자를 올바로 사용했는지 확인하십시오."
    IDS_BADPWDTITLE "암호를 잊어 버리셨습니까?"
    IDS_BEGIN "시작하려면 사용자 이름을 클릭하십시오."
    IDS_CANCEL "취소"
    IDS_CHANGEPASSWORD "암호 변경(&C)..."
    IDS_HELPFONT "굴림"
    IDS_HELPFONTSIZE "10"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "컴퓨터 잠금(&K)"
    IDS_LOGGEDON "현재 로그온되어 있음"
    IDS_LOGGINGON "로그온하는 중..."
    IDS_LOGOFF "로그오프(&L)..."
    IDS_MANAGEACCOUNTS "로그온한 후, 계정을 추가하거나 변경할 수 있습니다.\r\n[제어판]으로 가서 [사용자 계정]을 클릭하십시오."
    IDS_OPTIONSFONT "굴림"
    IDS_PASSWORDHINTTITLE "암호 힌트:"
    IDS_PLEASEWAIT "잠시 기다려 주십시오..."
    IDS_POWER "컴퓨터 끄기"
    IDS_POWERNAME "%s 끄기"
    IDS_PWINSTRUCTFONTSIZE "9"
    IDS_RUNNINGPROGRAM "%d개 프로그램이 실행되고 있습니다."
    IDS_RUNNINGPROGRAMS "%d개 프로그램이 실행되고 있습니다."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "9"
    IDS_SWITCHUSER "사용자 전환(&S)"
    IDS_TASKMANAGER "작업 관리자(&T)"
    IDS_TOOMANYPROGRAMS "너무 많은 프로그램이 실행되고 있으면 사용자 컴퓨터가 느려질 수 있습니다.\r\n컴퓨터가 보통 때보다 훨씬 늦게 실행되면 일부 프로그램을 닫으십시오."
    IDS_TOOMANYUSERS "너무 많은 프로그램이 실행되고 있으면 사용자 컴퓨터가 느려질 수 있습니다.\r\n컴퓨터가 보통 때보다 훨씬 늦게 실행되면 일부 사용자를 로그오프하십시오."
    IDS_TURNOFFFONTSIZE "10"
    IDS_TYPEPASSWORD "암호 입력"
    IDS_UNDOCK "컴퓨터 도킹 해제"
    IDS_UNDOCKNAME "%s 도킹 해제"
    IDS_UNLOCK "시작하려면 <Ctrl+Alt+Delete>를 누르십시오."
    IDS_UNREADMAIL "%d개의 읽지 않은 메일 메시지가 있습니다."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d개의 읽지 않은 메일 메시지가 있습니다."
    IDS_UNREADMAILTEMP "메시지를 읽으려면 로그온한 후 [시작] 메뉴에서 [전자 메일]을 선택하십시오."
    IDS_USER "사용자"
    IDS_USERISLOGGEDON "%s이(가) 로그온되어 있습니다."
    IDS_USERLOGGEDON "로그온되어 있음"
    IDS_USERRUNNINGPROGRAM "%s: %d개 프로그램이 실행되고 있습니다."
    IDS_USERRUNNINGPROGRAMS "%s: %d개 프로그램이 실행되고 있습니다."
    IDS_USERUNREADEMAIL "%s: %d개의 전자 메일 메시지가 있습니다."
    IDS_USERUNREADEMAILS "%s: %d개의 전자 메일 메시지가 있습니다."
    IDS_WELCOME "새로운 시작"
    IDS_WELCOMEFONT "굴림"
    IDS_WELCOMEFONTSIZE "28"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows 보안"
END
