#pragma code_page(65001)

LANGUAGE LANG_LITHUANIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Registruoti vartotoją"
    IDS_BADPWD "Dar kartą įveskite savo slaptažodį.  \r\nTeisingai įveskite didžiąsias ir mažąsias raides."
    IDS_BADPWDHINT "Jūs galite spustelėti mygtuką „?“, jei norite pamatyti savo kalsuimą slaptažodžiui gauti.\r\n\r\nDar kartą įveskite savo slaptažodį.  \r\nTeisingai įveskite didžiąsias ir mažąsias raides."
    IDS_BADPWDHINTREST "Galite spustelėti mygtuką „?“, jei norite pamatyti savo slaptažodžio priminimą.\r\nGalite <A>naudoti naujo slaptažodžio suteikimo diskelį</A>.\r\n\r\nDar kartą įveskite savo slaptažodį.  \r\nTeisingai įveskite didžiąsias ir mažąsias raides."
    IDS_BADPWDREST "Galite <A>naudoti naujo slaptažodžio suteikimo diskelį</A>.\r\n\r\nDar kartą įveskite savo slaptažodį.  \r\nTeisingai įveskite didžiąsias ir mažąsias raides."
    IDS_BADPWDTITLE "Gal pamiršote slaptažodį?"
    IDS_BEGIN "Jei norite pradėti, spustelėkite savo vartotojo vardą"
    IDS_CANCEL "Atšaukti"
    IDS_CHANGEPASSWORD "&Keisti slaptažodį..."
    IDS_HELPFONT "Arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Už&rakinti kompiuterį"
    IDS_LOGGEDON "Dabar prisiregistruota prie"
    IDS_LOGGINGON "Registruojamasi..."
    IDS_LOGOFF "I&šsiregistruoti..."
    IDS_MANAGEACCOUNTS "Įsiregistravę galite pridėti ar keisti abonentus.\r\nTiesiog eikite į Valdymo skydą ir spustelėkite Vartotojų abonentai."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Slaptažodžio priminimas:"
    IDS_PLEASEWAIT "palaukite..."
    IDS_POWER "Išjungti kompiuterį"
    IDS_POWERNAME "Išjungti %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "Veikia %d programa."
    IDS_RUNNINGPROGRAMS "Veikia %d programos."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "Ke&isti vartotoją"
    IDS_TASKMANAGER "&Užduočių tvarkytuvas"
    IDS_TOOMANYPROGRAMS "Jei veikia per daug programų, tai gali sulėtinti jūsų kompiuterio darbą. \r\nJei kompiuteris dirba lėčiau nei paprastai, pamėginkite uždaryti dalį programų."
    IDS_TOOMANYUSERS "Jei paleista per daug programų, tai gali sulėtinti jūsų kompiuterio darbą. \r\nJei kompiuteris dirba lėčiau nei paprastai, pamėginkite išregistruoti dalį vartotojų."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Įveskite savo slaptažodį"
    IDS_UNDOCK "Atjungti kompiuterį nuo doko"
    IDS_UNDOCKNAME "Atjungti nuo doko %s"
    IDS_UNLOCK "Norėdami pradėti paspauskite klavišų kombinaciją Ctrl-Alt-Delete."
    IDS_UNREADMAIL "%d neskaitytas el. laiškas."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d neskaityti el. laiškai."
    IDS_UNREADMAILTEMP "Jei norite skaityti savo pranešimus, įsiregistruokite ir meniu Pradėti pasirinkite El. paštas."
    IDS_USERISLOGGEDON "%s yra įsiregistravęs"
    IDS_USERLOGGEDON "Prisiregistruota prie"
    IDS_USERRUNNINGPROGRAM "%s veikia %d programa"
    IDS_USERRUNNINGPROGRAMS "%s veikia %d programos"
    IDS_USERUNREADEMAIL "%s yra %d el. laiškas"
    IDS_USERUNREADEMAILS "%s yra %d el.   laiškų"
    IDS_WELCOME "sveiki"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows sauga"
END
