#pragma code_page(65001)

LANGUAGE LANG_LATVIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "Tahoma"
    IDS_ACDSC_PWD "Pieteikt lietotāju"
    IDS_BADPWD "Ierakstiet savu paroli vēlreiz.  \r\nNeaizmirstiet lietot pareizos lielos un mazos burtus."
    IDS_BADPWDHINT "Varat noklikšķināt uz pogas ""?"", lai apskatītu savas paroles atgādinājumu.\r\n\r\nIerakstiet savu paroli vēlreiz.  \r\nNeaizmirsiet lietot pareizos lielos un mazos burtus."
    IDS_BADPWDHINTREST "Varat noklikšķināt uz pogas ""?"", lai apskatītu savas paroles atgādinājumu.\r\nVai varat <A>izmantot paroles atiestatīšanas disku</A>.\r\n\r\nIerakstiet paroli vēlreiz.  \r\nNeizmirstiet lietot pareizos lielos un mazos burtus."
    IDS_BADPWDREST "Varat <A>izmantot paroles atiestatīšanas disku</A>.\r\n\r\n Ierakstiet paroli vēlreiz.  \r\nNeaizmirstiet lietot pareizos lielos un mazos burtus."
    IDS_BADPWDTITLE "Vai esat aizmirsis paroli?"
    IDS_BEGIN "Vispirms noklikšķiniet uz sava lietotājvārda"
    IDS_CANCEL "Atcelt"
    IDS_CHANGEPASSWORD "&Mainīt paroli..."
    IDS_EMERGENCYSHUTDOWN "Ja turpināsit, dators tiks atsāknēts un visi nesaglabātie dati tiks zaudēti. Izmantojiet šo tikai kā pēdējo iespēju."
    IDS_EMERGENCYSHUTDOWNCAPTION "Ārkārtas beidzēšana"
    IDS_HELPFONT "Arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Ai&zslēgt datoru"
    IDS_LOGGEDON "Pašreiz ir pieteicies"
    IDS_LOGGINGON "Notiek pieteikšanās..."
    IDS_LOGOFF "&Atteikties..."
    IDS_MANAGEACCOUNTS "Kad esat pieteicies, varat pievienot vai mainīt kontus.\r\nLai to darītu, atveriet Vadības paneli un noklikšķiniet uz Lietotāju konti."
    IDS_OPTIONSFONT "Tahoma"
    IDS_PASSWORDHINTTITLE "Paroles atgādinājums:"
    IDS_PLEASEWAIT "lūdzu, uzgaidiet..."
    IDS_POWER "Izslēdziet datoru"
    IDS_POWERNAME "Izslēdziet ""%s"""
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "Ir palaista %d programma."
    IDS_RUNNINGPROGRAMS "Ir palaistas %d programmas."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Pārslēgt lietotāju"
    IDS_TASKMANAGER "&Uzdevumu pārvaldnieks"
    IDS_TOOMANYPROGRAMS "Ja ir palaists pārāk daudz programmu, datora darbības ātrums samazinās. \r\nJa dators darbojas lēnāk nekā parasti, mēģiniet aizvērt kādu no programmām."
    IDS_TOOMANYUSERS "Ja ir palaists pārāk daudz programmu, var samazināties datora darbības ātrums. \r\nJa dators darbojas lēnāk nekā parasti, mēģiniet tajā atteikt dažus lietotājus."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Ierakstiet savu paroli"
    IDS_UNDOCK "Atdokot datoru"
    IDS_UNDOCKNAME "Atdokot ""%s"""
    IDS_UNLOCK "Nospiediet Ctrl-Alt-Delete, lai sāktu darbu."
    IDS_UNREADMAIL "%d nelasīts pasta ziņojums."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d nelasīti pasta ziņojumi."
    IDS_UNREADMAILTEMP "Lai izlasītu savus e-pasta ziņojumus, piesakieties un izvēlnē Sākt izvēlieties E-pasts."
    IDS_USERISLOGGEDON "%s ir pieteicies"
    IDS_USERLOGGEDON "Pieteicies"
    IDS_USERRUNNINGPROGRAM "%s ir palaidis %d programmu"
    IDS_USERRUNNINGPROGRAMS "%s ir palaidis %d programmas"
    IDS_USERUNREADEMAIL """%s"" ir %d e-pasta ziņojums"
    IDS_USERUNREADEMAILS """%s"" ir  %d e-pasta ziņojumi"
    IDS_WELCOME "Esiet sveicināts!"
    IDS_WELCOMEFONT "Arial"
    IDS_WELCOMEFONTSIZE "32"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "0Sistēmas Windows drošība"
END
