#pragma code_page(65001)

LANGUAGE LANG_DUTCH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Gebruikersaanmelding"
    IDS_BADPWD "Geef uw wachtwoord nogmaals op.\r\nLet op of u kleine letters of hoofdletters invoert."
    IDS_BADPWDHINT "Klik op de knop '?' als u de geheugensteun voor uw wachtwoord wilt bekijken.\r\n\r\nGeef uw wachtwoord nogmaals op.\r\nLet erop of u kleine letters of hoofdletters invoert."
    IDS_BADPWDHINTREST "Klik op '?' als u de geheugensteun wilt bekijken.\r\nU kunt ook gebruikmaken van uw <A>Wachtwoordhersteldiskette</A>.\r\n\r\nGeef uw wachtwoord nogmaals op.\r\nLet erop of u kleine letters of hoofdletters opgeeft."
    IDS_BADPWDREST "U kunt gebruikmaken van uw <A>Wachtwoordhersteldiskette</A>.\r\n\r\nGeef uw wachtwoord nogmaals op.\r\nLet op of u kleine letters of hoofdletters opgeeft."
    IDS_BADPWDTITLE "Wachtwoord vergeten?"
    IDS_BEGIN "Klik op uw gebruikersnaam om te beginnen"
    IDS_CANCEL "Annuleren"
    IDS_CHANGEPASSWORD "&Wachtwoord wijzigen..."
    IDS_EMERGENCYSHUTDOWN "Als u nu doorgaat, wordt de computer opnieuw opgestart en verliest u niet-opgeslagen gegevens. Gebruik deze optie alleen in noodgevallen."
    IDS_EMERGENCYSHUTDOWNCAPTION "Noodafsluiting van systeem"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Computer &vergrendelen"
    IDS_LOGGEDON "Momenteel aangemeld"
    IDS_LOGGINGON "Bezig met aanmelden..."
    IDS_LOGOFF "A&fmelden..."
    IDS_MANAGEACCOUNTS "Na het aanmelden kunt u desgewenst accounts toevoegen en wijzigen. Open hiertoe het Configuratiescherm en klik op Gebruikersaccounts."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Geheugensteun:"
    IDS_PLEASEWAIT "Een ogenblik geduld..."
    IDS_POWER "Uitschakelen"
    IDS_POWERNAME "%s uitschakelen"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "Er is %d programma actief"
    IDS_RUNNINGPROGRAMS "Er zijn %d programma's actief"
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Andere gebruiker"
    IDS_TASKMANAGER "&Taakbeheer"
    IDS_TOOMANYPROGRAMS "Als er te veel programma's tegelijk actief zijn, kan de computer traag reageren.\r\nSluit enkele programma's als u merkt dat deze computer trager is dan anders."
    IDS_TOOMANYUSERS "Als er te veel programma's tegelijk actief zijn, kan de computer traag reageren.\r\nMeld enkele gebruikers af als u merkt dat deze computer trager is dan anders."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Geef uw wachtwoord op"
    IDS_UNDOCK "Computer loskoppelen"
    IDS_UNDOCKNAME "%s loskoppelen"
    IDS_UNLOCK "Druk op CTRL+ALT+DEL om te beginnen."
    IDS_UNREADMAIL "Er is %d ongelezen e-mail"
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "Er zijn %d ongelezen e-mails"
    IDS_UNREADMAILTEMP "Meld u aan en kies in het menu Start de optie E-mail als u nu uw berichten wilt lezen."
    IDS_USER "Gebruiker"
    IDS_USERISLOGGEDON "%s is aangemeld"
    IDS_USERLOGGEDON "Aangemeld"
    IDS_USERRUNNINGPROGRAM "%s heeft %d programma actief"
    IDS_USERRUNNINGPROGRAMS "%s heeft %d programma's actief"
    IDS_USERUNREADEMAIL "%s heeft %d e-mail"
    IDS_USERUNREADEMAILS "%s heeft %d e-mails"
    IDS_WELCOME "Welkom"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows-beveiliging"
END
