#pragma code_page(65001)

LANGUAGE LANG_NORWEGIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Logg på bruker"
    IDS_BADPWD "Skriv inn passordet på nytt.\r\nKontroller at du bruker riktige store og små bokstaver."
    IDS_BADPWDHINT "Du kan klikke ? for å vise passordhintet.\r\n\r\nSkriv inn passordet på nytt.\r\nKontroller at du bruker riktige store og små bokstaver."
    IDS_BADPWDHINTREST "Du kan klikke ? for å vise passordhintet.\r\nDu kan også <A>bruke disketten for tilbakestilling av passord</A>.\r\n\r\nSkriv inn passordet på nytt.\r\nKontroller at du bruker riktige store og små bokstaver."
    IDS_BADPWDREST "Du kan <A>bruke disketten for tilbakestilling av passord</A>.\r\n\r\nSkriv inn passordet på nytt.\r\nKontroller at du bruker riktige store og små bokstaver."
    IDS_BADPWDTITLE "Har du glemt passordet?"
    IDS_BEGIN "Klikk brukernavnet ditt for å begynne"
    IDS_CANCEL "Avbryt"
    IDS_CHANGEPASSWORD "&Endre passord..."
    IDS_HELPFONT "Arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Lå&s datamaskinen"
    IDS_LOGGEDON "Pålogget"
    IDS_LOGGINGON "Logger på..."
    IDS_LOGOFF "&Logg av..."
    IDS_MANAGEACCOUNTS "Etter du har logget på, kan du legge til eller endre kontoer. Gå til Kontrollpanel og klikk Brukerkontoer."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Passordhint:"
    IDS_PLEASEWAIT "vent litt ..."
    IDS_POWER "Slå av datamaskinen"
    IDS_POWERNAME "Slå av %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d program kjører."
    IDS_RUNNINGPROGRAMS "%d programmer kjører."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Bytt bruker"
    IDS_TASKMANAGER "&Oppgavebehandling"
    IDS_TOOMANYPROGRAMS "Kjøring av for mange programmer kan redusere ytelsen på datamaskinen.\r\nHvis datamaskinen er langsommere en vanlig, kan du prøve å lukke noen programmer."
    IDS_TOOMANYUSERS "Kjøring av for mange programmer kan redusere ytelsen på datamaskinen. \r\nHvis datamaskinen er langsommere enn vanlig, kan du prøve å logge av noen brukere."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Skriv inn passord"
    IDS_UNDOCK "Koble fra PC"
    IDS_UNDOCKNAME "Koble fra %s"
    IDS_UNLOCK "Trykk Ctrl+Alt+DEL for å starte."
    IDS_UNREADMAIL "%d ulest e-postmelding."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d uleste e-postmeldinger."
    IDS_UNREADMAILTEMP "Logg på og velg E-post fra Start-menyen for å lese meldinger."
    IDS_USER "Bruker"
    IDS_USERISLOGGEDON "%s er logget på"
    IDS_USERLOGGEDON "Logget på"
    IDS_USERRUNNINGPROGRAM "%s har %d program som kjører"
    IDS_USERRUNNINGPROGRAMS "%s har %d programmer som kjører"
    IDS_USERUNREADEMAIL "%s har %d e-postmelding"
    IDS_USERUNREADEMAILS "%s har %d e-postmeldinger"
    IDS_WELCOME "Velkommen"
    IDS_WELCOMEFONT "Arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows-sikkerhet"
END
