#pragma code_page(65001)

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "Tahoma"
    IDS_ACDSC_PWD "Zaloguj użytkownika"
    IDS_BADPWD "Wpisz hasło ponownie.  \r\nZwróć uwagę, aby użyć poprawnej wielkości wielkich i małych liter."
    IDS_BADPWDHINT "Możesz kliknąć przycisk „?”, aby zobaczyć wskazówkę dotyczącą hasła.\r\n\r\nWpisz hasło ponownie.\r\nZwróć uwagę, aby użyć poprawnej wielkości wielkich i małych liter."
    IDS_BADPWDHINTREST "Możesz kliknąć przycisk „?”, aby zobaczyć wskazówkę dotyczącą hasła.\r\nMożesz też <A>użyć dysku resetowania hasła</A>.\r\n\r\nWpisz hasło ponownie.  \r\nZwróć uwagę, aby użyć poprawnej wielkości wielkich i małych liter."
    IDS_BADPWDREST "Możesz <A>użyć dysku resetowania hasła</A>.\r\n\r\nWpisz hasło ponownie.  \r\nZwróć uwagę, aby użyć poprawnej wielkości wielkich i małych liter."
    IDS_BADPWDTITLE "Czy nie pamiętasz hasła?"
    IDS_BEGIN "Aby rozpocząć, kliknij swoją nazwę użytkownika"
    IDS_CANCEL "Anuluj"
    IDS_CHANGEPASSWORD "Zmień &hasło..."
    IDS_EMERGENCYSHUTDOWN "Jeśli będziesz kontynuować, nastąpi ponowny rozruch komputera i wszystkie niezapisane dane zostaną utracone. Używaj tego jako ostatniej z możliwości."
    IDS_EMERGENCYSHUTDOWNCAPTION "Zamknięcie awaryjne"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Zablokuj komputer"
    IDS_LOGGEDON "Aktualnie zalogowany"
    IDS_LOGGINGON "Trwa logowanie..."
    IDS_LOGOFF "&Wyloguj..."
    IDS_MANAGEACCOUNTS "Po zalogowaniu możesz dodać lub zmienić konta.\r\nPo prostu przejdź do Panelu sterowania i kliknij aplet Konta użytkowników."
    IDS_OPTIONSFONT "Tahoma"
    IDS_PASSWORDHINTTITLE "Wskazówka dotycząca hasła:"
    IDS_PLEASEWAIT "Czekaj..."
    IDS_POWER "Wyłącz komputer"
    IDS_POWERNAME "Wyłącz %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "ma uruchomiony %d program."
    IDS_RUNNINGPROGRAMS "ma uruchomionych programów: %d."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Przełącz użytkownika"
    IDS_TASKMANAGER "&Menedżer zadań"
    IDS_TOOMANYPROGRAMS "Uruchamianie zbyt wielu programów może spowalniać pracę komputera. \r\nJeśli ten komputer działa wolniej niż zwykle, spróbuj zamknąć niektóre programy."
    IDS_TOOMANYUSERS "Uruchamianie zbyt wielu programów może spowalniać pracę komputera. \r\nJeśli komputer działa wolniej niż zwykle, spróbuj wylogować niektórych użytkowników."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Wpisz swoje hasło"
    IDS_UNDOCK "Oddokuj komputer"
    IDS_UNDOCKNAME "Oddokuj %s"
    IDS_UNLOCK "Naciśnij klawisze Ctrl-Alt-Del, aby rozpocząć."
    IDS_UNREADMAIL "ma nieprzeczytaną %d wiadomość pocztową."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "ma nieprzeczytanych wiadomości pocztowych: %d."
    IDS_UNREADMAILTEMP "Aby odczytać wiadomości, zaloguj się i wybierz polecenie E-mail w menu Start."
    IDS_USER "Użytkownik"
    IDS_USERISLOGGEDON "Zalogowany jest użytkownik %s"
    IDS_USERLOGGEDON "Zalogowany"
    IDS_USERRUNNINGPROGRAM "%s ma uruchomiony %d program"
    IDS_USERRUNNINGPROGRAMS "%s ma uruchomionych programów: %d"
    IDS_USERUNREADEMAIL "%s ma nieprzeczytaną %d wiadomość e-mail"
    IDS_USERUNREADEMAILS "%s ma nieprzeczytanych wiadomości e-mail: %d"
    IDS_WELCOME "Zapraszamy"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Zabezpieczenia systemu Windows"
END
