#pragma code_page(65001)

LANGUAGE LANG_PORTUGUESE, 0x2

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Iniciar sessão do utilizador"
    IDS_BADPWD "Escreva a palavra-passe novamente.  \r\nCertifique-se de que utiliza as maiúsculas e minúsculas correctas."
    IDS_BADPWDHINT "Pode clicar no botão ""?"" para visualizar a sugestão da sua palavra-passe.\r\n\r\nEscreva a palavra-passe novamente.  \r\nCertifique-se de que utiliza as maiúsculas e minúsculas correctas."
    IDS_BADPWDHINTREST "Pode clicar no botão ""?"" para visualizar a sugestão da sua palavra-passe.\r\nOu pode <A>utilizar o disco de reposição de palavras-passe</A>.\r\n\r\nEscreva a palavra-passe novamente.  \r\nCertifique-se de que utiliza as maiúsculas e minúsculas correctas."
    IDS_BADPWDREST "Pode <A>utilizar o disco de reposição de palavras-passe</A>.\r\n\r\nEscreva a palavra-passe novamente.  \r\nCertifique-se de que utiliza as maiúsculas e minúsculas correctas."
    IDS_BADPWDTITLE "Esqueceu a palavra-passe?"
    IDS_BEGIN "Para iniciar, clique no seu nome de utilizador"
    IDS_CANCEL "Cancelar"
    IDS_CHANGEPASSWORD "A&lterar palavra-passe..."
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Bloquear computador"
    IDS_LOGGEDON "Actualmente com sessão iniciada"
    IDS_LOGGINGON "A iniciar sessão..."
    IDS_LOGOFF "&Terminar sessão..."
    IDS_MANAGEACCOUNTS "Após iniciar sessão, pode adicionar ou modificar contas.\r\nVá até ao 'Painel de controlo' e clique em 'Contas de utilizadores'."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Sugestão para palavra-passe:"
    IDS_PLEASEWAIT "aguarde..."
    IDS_POWER "Desligar computador"
    IDS_POWERNAME "Desactivar %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d programa em execução."
    IDS_RUNNINGPROGRAMS "%d programas em execução."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Mudar de utilizador"
    IDS_TASKMANAGER "&Gestor de tarefas"
    IDS_TOOMANYPROGRAMS "A execução de muitos programas pode abrandar o desempenho do computador. \r\nSe o computador estiver a funcionar mais lentamente do que o normal, tente fechar alguns programas."
    IDS_TOOMANYUSERS "A execução de demasiados programas pode abrandar o desempenho do computador. \r\nSe o computador estiver a funcionar mais lentamente do que o normal, tente terminar a sessão de alguns utilizadores."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Escrever palavra-passe"
    IDS_UNDOCK "Desancorar"
    IDS_UNDOCKNAME "Desancorar %s"
    IDS_UNLOCK "Prima Ctrl-Alt-Delete para iniciar."
    IDS_UNREADMAIL "%d mensagem de correio electrónico não lida."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d mensagens de correio electrónico não lidas."
    IDS_UNREADMAILTEMP "Para ler as mensagens, inicie sessão e seleccione 'Correio electrónico' no menu 'Iniciar'."
    IDS_USER "Utilizador"
    IDS_USERISLOGGEDON "%s tem sessão iniciada em"
    IDS_USERLOGGEDON "Com sessão iniciada"
    IDS_USERRUNNINGPROGRAM "%s tem o %d programa em execução"
    IDS_USERRUNNINGPROGRAMS "%s tem %d programas em execução"
    IDS_USERUNREADEMAIL "%s tem %d mensagem de correio electrónico"
    IDS_USERUNREADEMAILS "%s tem %d mensagens de correio electrónico"
    IDS_WELCOME "bem-vindo"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Segurança do Windows"
END
