#pragma code_page(65001)

LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Conectare utilizator"
    IDS_BADPWD "Tastaţi din nou parola.  \r\nAsiguraţi-vă că utilizaţi corect majusculele şi literele mici."
    IDS_BADPWDHINT "Aveţi posibilitatea să apăsaţi butonul ""?"" pentru a vedea indicaţia despre parolă.\r\n\r\nTastaţi din nou parola.  \r\nAsiguraţi-vă că utilizaţi corect majusculele şi literele mici."
    IDS_BADPWDHINTREST "Aveţi posibilitatea de a face clic pe butonul ""?"" pentru a vedea indicaţia despre parolă.\r\nSau <A>de a utiliza discul de reiniţializare a parolei</A>.\r\n\r\nTastaţi din nou parola.  \r\nAsiguraţi-vă că utilizaţi corect majusculele şi literele mici."
    IDS_BADPWDREST "Aveţi posibilitatea <A>de a utiliza discul de reiniţializare a parolei</A>.\r\n\r\nTastaţi din nou parola.  \r\nAsiguraţi-vă că utilizaţi corect majusculele şi literele mici."
    IDS_BADPWDTITLE "Aţi uitat parola?"
    IDS_BEGIN "Pentru început, faceţi clic pe numele de utilizator"
    IDS_CANCEL "Revocare"
    IDS_CHANGEPASSWORD "M&odificare parolă..."
    IDS_EMERGENCYSHUTDOWN "În cazul în care continuaţi, calculatorul se va reporni şi orice date care nu s-au salvat se vor pierde.  Utilizaţi această posibilitate numai ca ultimă resursă."
    IDS_EMERGENCYSHUTDOWNCAPTION "Închidere de urgenţă"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Blocare computer"
    IDS_LOGGEDON "Log on în prezent"
    IDS_LOGGINGON "Log on..."
    IDS_LOGOFF "&Log off..."
    IDS_MANAGEACCOUNTS "După Log on, aveţi posibilitatea de a adăuga sau de a modifica conturile.\r\nMergeţi la Panoul de control şi faceţi clic pe Conturi utilizator."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Indicaţie despre parolă:"
    IDS_PLEASEWAIT "aşteptaţi..."
    IDS_POWER "Închidere computer"
    IDS_POWERNAME "Dezactivare %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d program în curs de executare."
    IDS_RUNNINGPROGRAMS "%d programe în curs de executare."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Comutare utilizatori"
    IDS_TASKMANAGER "&Manager de activităţi"
    IDS_TOOMANYPROGRAMS "Executarea a prea multor programe poate încetini computerul. \r\nDacă computer funcţionează mai lent decât în mod normal, încercaţi să închideţi unele programe."
    IDS_TOOMANYUSERS "Executarea a prea multor programe poate încetini computerul. \r\nDacă computer funcţionează mai lent decât în mod normal, încercaţi să faceţi Log off pentru unii dintre utilizatori."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Tastaţi parola"
    IDS_UNDOCK "Detaşare computer"
    IDS_UNDOCKNAME "Detaşare %s"
    IDS_UNLOCK "Apăsaţi Ctrl-Alt-Delete pentru a începe."
    IDS_UNREADMAIL "%d mesaj necitit."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d mesaje necitite."
    IDS_UNREADMAILTEMP "Pentru a citi mesajele, faceţi Log on şi alegeţi Poştă electronică din meniul Start."
    IDS_USERISLOGGEDON "%s a făcut Log on"
    IDS_USERLOGGEDON "Log on"
    IDS_USERRUNNINGPROGRAM "%s are %d program în curs de executare"
    IDS_USERRUNNINGPROGRAMS "%s are %d programe în curs de executare"
    IDS_USERUNREADEMAIL "%s are %d mesaj electronic"
    IDS_USERUNREADEMAILS "%s are %d mesaje electronice"
    IDS_WELCOME "bun venit"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Securitate Windows"
END
