#pragma code_page(65001)

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Вход пользователя в систему"
    IDS_BADPWD "Введите пароль заново. \r\nПроверьте правильность используемого регистра и раскладки клавиатуры."
    IDS_BADPWDHINT "Можно щелкнуть кнопку ""?"", чтобы увидеть подсказку о пароле.\r\n\r\nВведите пароль заново. \r\nПроверьте правильность используемого регистра и раскладки клавиатуры."
    IDS_BADPWDHINTREST "Можно щелкнуть кнопку ""?"", чтобы увидеть подсказку о пароле, \r\nили использовать <A>дискету сброса пароля</A>.\r\n\r\nВведите пароль заново. \r\nПроверьте правильность используемого регистра и раскладки клавиатуры."
    IDS_BADPWDREST "Можно использовать <A>дискету сброса пароля</A>.\r\n\r\nВведите пароль заново. \r\nПроверьте правильность используемого регистра и раскладки клавиатуры."
    IDS_BADPWDTITLE "Забыли пароль?"
    IDS_BEGIN "Чтобы начать работу, щелкните имя пользователя"
    IDS_CANCEL "Отмена"
    IDS_CHANGEPASSWORD "&Смена пароля..."
    IDS_HELPFONT "Arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Блокировка"
    IDS_LOGGEDON "В настоящее время вход выполнен"
    IDS_LOGGINGON "Вход в систему..."
    IDS_LOGOFF "&Выход из системы..."
    IDS_MANAGEACCOUNTS "После входа в систему можно добавлять или изменять учетные записи.\r\nДля этого в панели управления нужно выбрать ""Учетные записи пользователей""."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Подсказка о пароле:"
    IDS_PLEASEWAIT "Пожалуйста, подождите..."
    IDS_POWER "Выключить компьютер"
    IDS_POWERNAME "Выключить %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "Выполняется %d программа."
    IDS_RUNNINGPROGRAMS "Выполняется программ: %d."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Смена пользователя"
    IDS_TASKMANAGER "&Диспетчер задач"
    IDS_TOOMANYPROGRAMS "Выполнение большого количества программ замедляет работу компьютера. \r\nЕсли он работает медленнее обычного, попробуйте закрыть некоторые программы."
    IDS_TOOMANYUSERS "Выполнение большого количества программ замедляет работу компьютера. \r\nЕсли он работает медленнее обычного, попробуйте завершить работу некоторых пользователей."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Введите пароль"
    IDS_UNDOCK "Извлечь компьютер из стыковочного узла"
    IDS_UNDOCKNAME "Извлечь из стыковочного узла %s"
    IDS_UNLOCK "Нажмите Ctrl-Alt-Delete."
    IDS_UNREADMAIL "Не прочитано %d сообщение."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "Не прочитано сообщений: %d."
    IDS_UNREADMAILTEMP "Чтобы прочесть сообщения, выполните вход и выберите команду ""Почта"" из меню ""Пуск""."
    IDS_USER "Пользователь"
    IDS_USERISLOGGEDON "%s выполнен вход"
    IDS_USERLOGGEDON "Вход выполнен"
    IDS_USERRUNNINGPROGRAM "%s - выполняется %d программа"
    IDS_USERRUNNINGPROGRAMS "%s - выполняется программ: %d"
    IDS_USERUNREADEMAIL "%s получено %d почтовое сообщение"
    IDS_USERUNREADEMAILS "%s получено почтовых сообщений: %d"
    IDS_WELCOME "Приветствие"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "28"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Безопасность Windows"
END
