#pragma code_page(65001)

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Prihlásiť používateľa"
    IDS_BADPWD "Zopakujte zadanie hesla. \r\nSkontrolujte, či správne používate malé a veľké písmená."
    IDS_BADPWDHINT "Kliknutím na tlačidlo „?“ zobrazíte pomôcku pre heslá.\r\n\r\nZnovu zopakujte zadanie hesla. \r\nSkontrolujte, či správne používate malé a veľké písmená."
    IDS_BADPWDHINTREST "Kliknutím na tlačidlo „?“ zobrazíte pomôcku pre heslá.\r\nMôžete <A>použiť vlastnú disketu na vytvorenie nového hesla</A>\r\n\r\nZnova zadajte heslo.\r\nSkontrolujte, či správne používate malé a veľké písmená."
    IDS_BADPWDREST "Môžete <A>použiť vlastnú disketu na vytvorenie nového hesla</A>\r\n\r\nZnova zopakujte zadanie hesla.\r\nSkontrolujte, či správne používate malé a veľké písmená."
    IDS_BADPWDTITLE "Zabudli ste heslo?"
    IDS_BEGIN "Začnite kliknutím \nna meno používateľa."
    IDS_CANCEL "Zrušiť"
    IDS_CHANGEPASSWORD "&Zmeniť heslo..."
    IDS_EMERGENCYSHUTDOWN "Ak budete pokračovať, počítač sa reštartuje a všetky neuložené údaje sa stratia. Túto možnosť požite len v krajnom prípade."
    IDS_EMERGENCYSHUTDOWNCAPTION "Núdzové vypnutie"
    IDS_HELPFONT "Arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Uzam&knúť počítač"
    IDS_LOGGEDON "Aktuálne prihlásený používateľ"
    IDS_LOGGINGON "Prihlasuje sa..."
    IDS_LOGOFF "&Odhlásiť..."
    IDS_MANAGEACCOUNTS "Po prihlásení môžete pridávať alebo meniť kontá.\r\nV ovládacom paneli kliknite na položku Používateľské kontá."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Pomôcka pre heslá:"
    IDS_PLEASEWAIT "počkajte, prosím..."
    IDS_POWER "Vypnúť počítač"
    IDS_POWERNAME "Vypnúť %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "Počet spustených programov: %d"
    IDS_RUNNINGPROGRAMS "Počet spustených programov: %d"
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Prepnúť používateľa"
    IDS_TASKMANAGER "&Správca úloh"
    IDS_TOOMANYPROGRAMS "Príliš veľa spustených programov môže spomaliť počítač.\r\nAk je počítač pomalší ako zvyčajne, pokúste sa ukončiť niektoré programy."
    IDS_TOOMANYUSERS "Príliš veľa spustených programov môže počítač spomaliť.\r\nAk je počítač pomalší ako zvyčajne, pokúste sa odhlásiť niektorých používateľov."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Zadajte vaše heslo"
    IDS_UNDOCK "Vybrať z doku"
    IDS_UNDOCKNAME "Vybrať z doku %s"
    IDS_UNLOCK "Začnite stlačením klávesovej kombinácie Ctrl+Alt+Delete."
    IDS_UNREADMAIL "Počet neprečítaných poštových správ: %d"
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "Počet neprečítaných poštových správ: %d"
    IDS_UNREADMAILTEMP "Ak chcete čítať svoje správy, prihláste sa a v ponuke Štart vyberte položku E-mail."
    IDS_USER "Používateľ"
    IDS_USERISLOGGEDON "Používateľ %s je prihlásený."
    IDS_USERLOGGEDON "Prihlásený používateľ"
    IDS_USERRUNNINGPROGRAM "Počet programov spustených používateľom %s: %d"
    IDS_USERRUNNINGPROGRAMS "Počet programov spustených používateľom %s: %d"
    IDS_USERUNREADEMAIL "Počet e-mailových správ pre %s: %d"
    IDS_USERUNREADEMAILS "Počet e-mailových správ pre %s: %d"
    IDS_WELCOME "Vitajte"
    IDS_WELCOMEFONT "Arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Zabezpečenie systému Windows"
END
