#pragma code_page(65001)

LANGUAGE LANG_SLOVENIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Prijava uporabnika"
    IDS_BADPWD "Ponovno vnesite geslo.\r\nPoskrbite, da boste pravilno uporabili velike in male črke."
    IDS_BADPWDHINT "Lahko kliknete gumb »?«, da vidite svoj namig za geslo.\r\n\r\nPonovno vnesite geslo.\r\nPoskrbite, da boste pravilno uporabili velike in male črke."
    IDS_BADPWDHINTREST "Lahko kliknete gumb »?«, da vidite svoj namig za geslo.\r\nAli pa <A>uporabite disketo za ponastavitev gesla</A>.\r\n\r\nPonovno vnesite geslo.\r\nPoskrbite, da boste pravilno uporabili velike in male črke."
    IDS_BADPWDREST "Lahko <A>uporabite svojo disketo za ponastavitev gesla</A>.\r\n\r\nPonovno vnesite geslo.\r\nPoskrbite, da boste pravilno uporabili velike in male črke."
    IDS_BADPWDTITLE "Ali ste pozabili svoje geslo?"
    IDS_BEGIN "Če želite začeti, kliknite svoje uporabniško ime"
    IDS_CANCEL "Prekliči"
    IDS_CHANGEPASSWORD "&Spremeni geslo ..."
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Za&kleni računalnik"
    IDS_LOGGEDON "Trenutno prijavljen"
    IDS_LOGGINGON "Prijava ..."
    IDS_LOGOFF "&Odjavi ..."
    IDS_MANAGEACCOUNTS "Potem ko se prijavite, lahko dodajate ali spreminjate račune. Pojdite na nadzorno ploščo in kliknite »Uporabniški računi«."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Namig za geslo:"
    IDS_PLEASEWAIT "prosimo, počakajte ..."
    IDS_POWER "Izklopi računalnik"
    IDS_POWERNAME "Izklopi %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "Št. programov, ki se izvajajo: %d."
    IDS_RUNNINGPROGRAMS "Št. programov, ki se izvajajo: %d."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "P&reklopi med uporabniki"
    IDS_TASKMANAGER "Upravi&telj opravil"
    IDS_TOOMANYPROGRAMS "Izvajanje preveč programov lahko upočasni delovanje računalnika.\r\nČe računalnik deluje počasneje kot običajno, poskusite zapreti nekatere programe."
    IDS_TOOMANYUSERS "Izvajanje preveč programov lahko upočasni delovanje računalnika.\r\nČe računalnik deluje počasneje kot običajno, poskusite odjaviti nekatere uporabnike."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Vnesite geslo"
    IDS_UNDOCK "Razdruži računalnik"
    IDS_UNDOCKNAME "Razdruži %s"
    IDS_UNLOCK "Začnite s kombinacijo tipk Ctrl-Alt-Delete."
    IDS_UNREADMAIL "Št. neprebranih poštnih sporočil: %d."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "Št. neprebranih poštnih sporočil: %d."
    IDS_UNREADMAILTEMP "Če želite prebrati sporočila, se prijavite in v meniju »Start« izberite »E-pošta«."
    IDS_USER "Uporabnik"
    IDS_USERISLOGGEDON "%s je prijavljen"
    IDS_USERLOGGEDON "Prijavljen"
    IDS_USERRUNNINGPROGRAM "Št. programov, ki jih izvaja %s: %d"
    IDS_USERRUNNINGPROGRAMS "Št. programov, ki jih izvaja %s: %d"
    IDS_USERUNREADEMAIL "Št. e-poštnih sporočil, ki jih ima %s: %d"
    IDS_USERUNREADEMAILS "Št. e-poštnih sporočil, ki jih ima %s: %d"
    IDS_WELCOME "dobrodošli"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Varnost programa Windows"
END
