#pragma code_page(65001)

LANGUAGE LANG_SWEDISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Logga in användaren"
    IDS_BADPWD "Ange ditt lösenord på nytt. \r\nObservera att du måste skilja på gemener och versaler."
    IDS_BADPWDHINT "Klicka på knappen ""?"" om du vill se en ledtråd till lösenordet.\r\n\r\nSkriv in ditt lösenord igen.\r\nObservera att du måste skilja på gemener och versaler."
    IDS_BADPWDHINTREST "Klicka på knappen""?"" för att se ledtråden till ditt lösenord.\r\nEller <A>använd diskett för återställning av lösenord</A>.\r\n\r\nSkriv in ditt lösenord igen.  \r\nObservera att du måste skilja på gemener och versaler."
    IDS_BADPWDREST "Använd <A>diskett för återställning av lösenord </A>.\r\n\r\nSkriv in ditt lösenord igen.  \r\nObservera att du måste skilja på gemener och versaler."
    IDS_BADPWDTITLE "Har du glömt ditt lösenord?"
    IDS_BEGIN "Klicka på ditt namn när du vill logga in"
    IDS_CANCEL "Avbryt"
    IDS_CHANGEPASSWORD "&Ändra lösenord..."
    IDS_EMERGENCYSHUTDOWN "Om du fortsätter kommer datorn att startas om och information som inte sparats går förlorad. Använd detta alternativ i sista hand."
    IDS_EMERGENCYSHUTDOWNCAPTION "Nödstopp - Windows avslutas"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "L&ås datorn"
    IDS_LOGGEDON "Nu inloggad"
    IDS_LOGGINGON "Loggar in..."
    IDS_LOGOFF "&Logga ut..."
    IDS_MANAGEACCOUNTS "Du kan lägga till eller ändra användarkonton när du har loggat in.\r\nGå till Kontrollpanelen och klicka på Användarkonton."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Lösenordsledtråd:"
    IDS_PLEASEWAIT "Vänta..."
    IDS_POWER "Stäng av datorn"
    IDS_POWERNAME "Stäng av %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d program körs."
    IDS_RUNNINGPROGRAMS "%d program körs."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Växla användare"
    IDS_TASKMANAGER "A&ktivitetshanteraren"
    IDS_TOOMANYPROGRAMS "Om du kör många program samtidigt kan datorn bli långsam.\r\nOm datorn verkar långsammare än normalt kan du försöka stänga några öppna program."
    IDS_TOOMANYUSERS "Om du kör många program samtidigt kan datorn bli långsam.\r\nOm datorn verkar långsammare än normalt kan du försöka logga ut några användare."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Ange lösenord"
    IDS_UNDOCK "Koppla från datorn"
    IDS_UNDOCKNAME "Koppla från %s"
    IDS_UNLOCK "Tryck ner Ctrl+Alt+Delete för att starta."
    IDS_UNREADMAIL "%d oläst e-postmeddelande."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d olästa e-postmeddelanden."
    IDS_UNREADMAILTEMP "Du kan läsa dina meddelanden genom att logga in och välja E-post på Start-menyn."
    IDS_USER "Användare"
    IDS_USERISLOGGEDON "%s är inloggad"
    IDS_USERLOGGEDON "Inloggad"
    IDS_USERRUNNINGPROGRAM "%s har %d program igång"
    IDS_USERRUNNINGPROGRAMS "%s har %d program igång"
    IDS_USERUNREADEMAIL "%s har %d e-postmeddelande"
    IDS_USERUNREADEMAILS "%s har %d e-postmeddelanden"
    IDS_WELCOME "Välkommen"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows-säkerhet"
END
