#pragma code_page(65001)

LANGUAGE LANG_THAI, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "Tahoma"
    IDS_ACDSC_PWD "นำผู้ใช้เข้าสู่ระบบ"
    IDS_BADPWD "กรุณาพิมพ์รหัสผ่านของคุณอีกครั้ง  \r\nตรวจดูให้แน่ใจว่าคุณพิมพ์อักษรตัวพิมพ์เล็ก และตัวพิมพ์ใหญ่ถูกต้อง"
    IDS_BADPWDHINT "คุณสามารถคลิกปุ่ม ""?"" เพื่อดูคำแนะนำเกี่ยวกับรหัสผ่านของคุณ\r\n\r\nกรุณาพิมพ์รหัสผ่านของคุณอีกครั้ง  \r\nตรวจดูให้แน่ใจว่าคุณพิมพ์อักษรตัวพิมพ์เล็ก และตัวพิมพ์ใหญ่ถูกต้อง"
    IDS_BADPWDHINTREST "คุณสามารถคลิกปุ่ม ""?"" เพื่อดูคำแนะนำเกี่ยวกับรหัสผ่านของคุณ\r\nหรือคุณสามารถ <A>ใช้ดิสก์การตั้งค่ารหัสผ่านใหม่ของคุณ</A>\r\n\r\nกรุณาพิมพ์รหัสผ่านของคุณอีกครั้ง  \r\nตรวจดูให้แน่ใจว่าคุณพิมพ์อักษรตัวพิมพ์เล็ก และตัวพิมพ์ใหญ่ถูกต้อง"
    IDS_BADPWDREST "คุณสามารถ <A>ใช้ดิสก์การตั้งค่ารหัสผ่านใหม่ของคุณ</A>\r\n\r\nกรุณาพิมพ์รหัสผ่านของคุณอีกครั้ง  \r\nตรวจดูให้แน่ใจว่าคุณพิมพ์อักษรตัวพิมพ์เล็ก และตัวพิมพ์ใหญ่ถูกต้อง"
    IDS_BADPWDTITLE "คุณลืมรหัสผ่านของคุณหรือไม่"
    IDS_BEGIN "เมื่อต้องการเริ่มต้น ให้คลิกชื่อผู้ใช้ของคุณ"
    IDS_CANCEL "ยกเลิก"
    IDS_CHANGEPASSWORD "เปลี่ยน&รหัสผ่าน..."
    IDS_HELPFONT "Tahoma"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&ล็อกคอมพิวเตอร์"
    IDS_LOGGEDON "เข้าสู่ระบบเรียบร้อยแล้ว"
    IDS_LOGGINGON "กำลังเข้าสู่ระบบ..."
    IDS_LOGOFF "&ออกจากระบบ..."
    IDS_MANAGEACCOUNTS "หลังจากที่คุณเข้าสู่ระบบแล้ว คุณสามารถเพิ่ม หรือเปลี่ยนแปลงบัญชีผู้ใช้ได้\r\nเพียงไปที่ 'แผงควบคุม' แล้วคลิก 'บัญชีผู้ใช้'"
    IDS_OPTIONSFONT "Tahoma"
    IDS_PASSWORDHINTTITLE "คำแนะนำเกี่ยวกับรหัสผ่าน:"
    IDS_PLEASEWAIT "กรุณารอ..."
    IDS_POWER "ปิดคอมพิวเตอร์"
    IDS_POWERNAME "ปิด %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "โปรแกรมกำลังทำงานอยู่ %d โปรแกรม"
    IDS_RUNNINGPROGRAMS "โปรแกรมกำลังทำงานอยู่ %d โปรแกรม"
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&สลับผู้ใช้"
    IDS_TASKMANAGER "ตั&วจัดการงาน"
    IDS_TOOMANYPROGRAMS "การเรียกใช้งานหลายโปรแกรมสามารถทำให้คอมพิวเตอร์ของคุณทำงานช้าลงได้ \r\nถ้าคอมพิวเตอร์ของคุณทำงานช้ากว่าปกติ ให้ลองปิดบางโปรแกรม"
    IDS_TOOMANYUSERS "การเรียกใช้งานหลายโปรแกรมอาจทำให้คอมพิวเตอร์ของคุณทำงานช้าลง \r\nถ้าคอมพิวเตอร์ของคุณทำงานช้ากว่าปกติ ลองให้ผู้ใช้บางคนออกจากระบบ"
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "พิมพ์รหัสผ่านของคุณ"
    IDS_UNDOCK "ปลดชุดเชื่อมต่ออุปกรณ์ออก"
    IDS_UNDOCKNAME "ปลดการเชื่อมต่อ %s"
    IDS_UNLOCK "กด Ctrl-Alt-Delete เพื่อเริ่มต้น"
    IDS_UNREADMAIL "ข้อความจดหมายที่ยังไม่ได้อ่าน %d ข้อความ"
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "ข้อความจดหมายที่ยังไม่ได้อ่าน %d ข้อความ"
    IDS_UNREADMAILTEMP "เมื่อต้องการอ่านข้อความของคุณ ให้เข้าสู่ระบบ แล้วเลือก 'อีเมล' จากเมนู 'เริ่ม'"
    IDS_USERISLOGGEDON "%s ได้เข้าสู่ระบบแล้ว"
    IDS_USERLOGGEDON "เข้าสู่ระบบ"
    IDS_USERRUNNINGPROGRAM "%s มีโปรแกรมที่กำลังทำงานอยู่ %d โปรแกรม"
    IDS_USERRUNNINGPROGRAMS "%s มีโปรแกรมที่กำลังทำงานอยู่ %d โปรแกรม"
    IDS_USERUNREADEMAIL "%s มีข้อความอีเมล %d ข้อความ"
    IDS_USERUNREADEMAILS "%s มีข้อความอีเมล %d ข้อความ"
    IDS_WELCOME "ยินดีต้อนรับ"
    IDS_WELCOMEFONT "Tahoma"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "การรักษาความปลอดภัยของ Windows"
END
