#pragma code_page(65001)

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "Tahoma"
    IDS_ACDSC_PWD "Kullanıcıya oturum açtır"
    IDS_BADPWD "Parolanızı yeniden yazın.  \r\nHarflerin büyük/küçük durumuna dikkat edin."
    IDS_BADPWDHINT "Parola ipucunuzu görmek için ""?"" düğmesini tıklatabilirsiniz.\r\n\r\nLütfen parolanızı yeniden yazın.  \r\nKullandığını büyük ve küçük harflerden emin olun."
    IDS_BADPWDHINTREST "Parola ipucunuzu görmek için ""?"" düğmesini tıklatabilirsiniz.\r\nVeya <A>Paola sıfırlama disketini</A> kullanabilirsiniz.\r\n\r\nLütfen parolayı yeniden yazın.  \r\nDoğru büyük ve küçük harfleri kullandığınızdan emin olun."
    IDS_BADPWDREST "<A>Parola sıfırlama disketi</A>ni kullanabilirsiniz.\r\n\r\nLütfen parolayı yeniden yazın.  \r\nDoğru büyük ve küçük harfleri kullandığınızdan emin olun."
    IDS_BADPWDTITLE "Parolanızı mı unuttunuz?"
    IDS_BEGIN "Başlamak için kullanıcı adınızı seçin"
    IDS_CANCEL "İptal"
    IDS_CHANGEPASSWORD "&Parola Değiştir..."
    IDS_EMERGENCYSHUTDOWN "Devam ederseniz makineniz yeniden başlatılacak ve kaydedilmemiş verilerinizi kaybedeceksiniz  Bunu en son seçenek olarak kullanın."
    IDS_EMERGENCYSHUTDOWNCAPTION "Acil durum oturum kapatması"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "Bilgisayarı &Kilitle"
    IDS_LOGGEDON "Şu anda oturum açık"
    IDS_LOGGINGON "Oturum açılıyor..."
    IDS_LOGOFF "&Oturumu Kapat..."
    IDS_MANAGEACCOUNTS "Oturum açtıktan sonra hesap ekleyebilir ve değiştirebilirsiniz.\r\nDenetim Masası'na gidin ve Kullanıcı Hesapları'nı tıklatın."
    IDS_OPTIONSFONT "Tahoma"
    IDS_PASSWORDHINTTITLE "Parola İpucu:"
    IDS_PLEASEWAIT "Bekleyin..."
    IDS_POWER "Bilgisayarı Kapat"
    IDS_POWERNAME "Kapat: %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "%d program çalışıyor."
    IDS_RUNNINGPROGRAMS "%d program çalışıyor."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Kullanıcı Değiştir"
    IDS_TASKMANAGER "&Görev Yöneticisi"
    IDS_TOOMANYPROGRAMS "Gereğinden çok program çalıştırmak bilgisayarınızı yavaşlatabilir. \r\nBilgisayarınız normalden de hızlı çalışıyorsa, bazı programları kapatmayı deneyin."
    IDS_TOOMANYUSERS "Gereğinden çok program çalıştırmak bilgisayarınızı yavaşlatabilir. \r\nBilgisayarınız normalden de hızlı çalışıyorsa, bazı kullanıcıların oturumunu kapatmayı deneyin."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Parolanızı yazın"
    IDS_UNDOCK "Bilgisayarın çıkar"
    IDS_UNDOCKNAME "Çıkar: %s"
    IDS_UNLOCK "Başlamak için Ctrl-Alt-Delete tuşlarına basın."
    IDS_UNREADMAIL "%d okunmayan posta iletisi."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d okunmayan posta iletisi."
    IDS_UNREADMAILTEMP "İletilerinizi okumak için oturum açıp Başlat menüsünden E-post'yı seçin."
    IDS_USER "User"
    IDS_USERISLOGGEDON "%s oturum açmış durumda"
    IDS_USERLOGGEDON "Oturum Açılmış Durumda"
    IDS_USERRUNNINGPROGRAM "%s için %d program çalışıyor"
    IDS_USERRUNNINGPROGRAMS "%s için %d program çalışıyor"
    IDS_USERUNREADEMAIL "%s için %d e-posta iletisi"
    IDS_USERUNREADEMAILS "%s için %d e-posta iletisi"
    IDS_WELCOME "Hoş Geldiniz"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "36"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Windows Güvenliği"
END
