#pragma code_page(65001)

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTLISTFONT "tahoma"
    IDS_ACDSC_PWD "Вхід користувача до системи"
    IDS_BADPWD "Введіть пароль знову.  \r\nПереконайтеся, що використовуються належний регістр і розкладка клавіатури."
    IDS_BADPWDHINT "Можна клацнути кнопку ""?"", щоб побачити підказку про пароль.\r\n\r\nВведіть пароль знову.  \r\nПереконайтеся, що використовуються належний регістр і розкладка клавіатури."
    IDS_BADPWDHINTREST "Можна клацнути кнопку ""?"", щоб побачити підказку про пароль,\r\nабо скористатися <A>дискетою скидання пароля</A>.\r\n\r\nВведіть пароль знову.  \r\nПереконайтеся, що використовуються належний регістр і розкладка клавіатури."
    IDS_BADPWDREST "Можна скористатися <A>дискетою скидання пароля</A>.\r\n\r\nВведіть пароль знову.  \r\nПереконайтеся, що використовуються належний регістр і розкладка клавіатури."
    IDS_BADPWDTITLE "Ви забули пароль?"
    IDS_BEGIN "Щоб розпочати роботу, клацніть ім'я користувача"
    IDS_CANCEL "Скасувати"
    IDS_CHANGEPASSWORD "З&міна пароля..."
    IDS_EMERGENCYSHUTDOWN "Якщо продовжити роботу, комп'ютер буде перезавантажений із втратою всіх незбережених даних.  Використовуйте цей варіант лише в разі крайньої потреби."
    IDS_EMERGENCYSHUTDOWNCAPTION "Аварійне завершення роботи"
    IDS_HELPFONT "arial"
    IDS_HELPFONTSIZE "14"
    IDS_INSTRUCTFONTSIZE "9"
    IDS_LOCKCOMPUTER "&Блокування"
    IDS_LOGGEDON "Зараз вхід виконано"
    IDS_LOGGINGON "Вхід до системи..."
    IDS_LOGOFF "&Вихід із системи..."
    IDS_MANAGEACCOUNTS "Ввійшовши до системи, можна додавати або змінювати облікові записи.\r\nДля цього клацніть значок ""Облікові записи користувачів"" на панелі керування."
    IDS_OPTIONSFONT "tahoma"
    IDS_PASSWORDHINTTITLE "Підказка про пароль:"
    IDS_PLEASEWAIT "Зачекайте..."
    IDS_POWER "Вимкнути комп'ютер"
    IDS_POWERNAME "Вимкнути %s"
    IDS_PWINSTRUCTFONTSIZE "8"
    IDS_RUNNINGPROGRAM "Працює %d програма."
    IDS_RUNNINGPROGRAMS "Працює %d програм."
    IDS_SECURITYOPTIONS ""
    IDS_STATUSFONTSIZE "8"
    IDS_SWITCHUSER "&Змінити користувача"
    IDS_TASKMANAGER "&Диспетчер завдань"
    IDS_TOOMANYPROGRAMS "Запуск великої кількості програм уповільнює роботу комп'ютера. \r\nЯкщо він працює повільніше, ніж звичайно, спробуйте закрити деякі програми."
    IDS_TOOMANYUSERS "Запуск великої кількості програм уповільнює роботу комп'ютера. \r\nЯкщо він працює повільніше, ніж звичайно, спробуйте завершити роботу деяких користувачів."
    IDS_TURNOFFFONTSIZE "14"
    IDS_TYPEPASSWORD "Введіть пароль"
    IDS_UNDOCK "Відстикувати комп'ютер"
    IDS_UNDOCKNAME "Відстикувати від %s"
    IDS_UNLOCK "Натисніть клавіші Ctrl+Alt+Delete."
    IDS_UNREADMAIL "%d непрочитане повідомлення."
    IDS_UNREADMAILACCOUNT "%s (%d)"
    IDS_UNREADMAILS "%d непрочитаних повідомлень."
    IDS_UNREADMAILTEMP "Щоб прочитати повідомлення, ввійдіть до системи та виберіть із меню ""Пуск"" команду ""Пошта""."
    IDS_USERISLOGGEDON "%s - виконано вхід"
    IDS_USERLOGGEDON "Вхід виконано"
    IDS_USERRUNNINGPROGRAM "%s - працює %d програма"
    IDS_USERRUNNINGPROGRAMS "%s - працює %d програм"
    IDS_USERUNREADEMAIL "%s  - отримано %d поштове повідомлення"
    IDS_USERUNREADEMAILS "%s  - отримано %d поштових повідомлень"
    IDS_WELCOME "Привітання"
    IDS_WELCOMEFONT "arial"
    IDS_WELCOMEFONTSIZE "28"
    IDS_WINDOWSNAME ""
    IDS_WINSECURITY "Безпека Windows"
END
